@model OWZX.Web.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户登录-@{@WorkContext.ShopConfig.SiteTitle}</title>
    @Html.Raw(WorkContext.ShopConfig.SEOKeyword)
    @Html.Raw(WorkContext.ShopConfig.SEODescription)
    <link href="@{@WorkContext.CSSCDN}/css/base.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/css/account.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/css/lgstyle.css" rel="stylesheet" />
    <script src="@{@WorkContext.ScriptCDN}/scripts/jquery.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/account.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/components/layer/layer.js"></script>
    <script type="text/javascript">
        returnUrl = "@Model.ReturnUrl";
        shadowName = "@Model.ShadowName";
        $(function () {
            $(".cf .loginBt").on("keydown", function () {
                if (event.keyCode == 13) login();
            });
            $('.loginBt').click(function () { login(); });
        })

    </script>
    <style>
            
    </style>
</head>

<body style="">
@Html.Partial("_header") 
    <!--登录-->
    <div style="height: 720px;overflow: hidden;background-image: url(../images/login_bg.jpg);background-size: cover;background-position: top center;background-repeat: no-repeat;overflow: hidden;text-align: center;"> 
        <div style="width:760px;margin:100px auto 0px auto;">
            <div class="lanrenzhijia" style="margin: auto;">
                <div class="product-wrap" style="width:380px;">
                    <div class="ml0" style="font-size: 16px; color: #fff;text-align:center;margin:auto;">
                                    还没有帐号，<a style="color: #00fffc; font-size: 15px;" href="@Url.Action("register")">[免费注册]</a>
                                </div>
                    <div class="product show">
                        <form name="loginForm" action="">
                            <ul class="cf">
                                <li class="ml0" style="font-size: 16px; color: #fff;">
                                   帐 &nbsp; 号: <input class="b1" style="width:270px" type="text" name="@Model.ShadowName" id="@Model.ShadowName" placeholder="邮箱" value=""/><br/>
                                    <span class="phone" style="font-size: 12px; color: red; height: 22px;"></span><br/>
                                   密 &nbsp; 码: <input class="b1"  style="width:270px" type="password" id="password" name="password" placeholder="密码" value=""/><br/>
                                    <span class="password" style="font-size: 12px; color: red; height: 22px;"></span><br/>
                                   验证码: <input class="b1" type="text" id="verifyCode" name="checkcode"  style="width: 143px;background:#ccc0;    COLOR: #FFF;font-size:16px;" placeholder="验证码" value=""  />
                                    <img id="verifyCode1" style="cursor:pointer;margin:0 0 0 14px; width: 106px;height:36px;vertical-align:middle;" title="点击刷新验证码" onclick="this.src = '/tool/verifyimage?time=' + new Date()" src="/tool/verifyimage" /><br/>
                                    <span class="code" style="font-size: 12px; color: red; height: 22px;"></span><br />
                                </li>
                                <li style="height: 20px; line-height: 20px; margin-top: 10px; text-align: right;float:right;"> 
                                    
                                </li>
                                <li class="loginBt">
                                    <a class="redBT loginIn" style="text-align: center; background:#FFF;color:#000;width:263px;margin-left:55px;" href="javascript:void(0)">登录</a>
                                    <br/>
                                    <span style="text-align:right;color: #00fffc;padding-right:20px;margin-left:55px;"><a style="color: #00fffc;font-size:16px;" href="@Url.Action(" findpwd")"=findpwd")">忘记密码?</a></span>
                                </li> 
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            @*<div ><img style="width: 370px; height: 239px;margin-top:77px" src="../images/baseimg/dl.jpg"/></div>*@
            <div class="clear"></div>
        </div>
    </div> 
    @Html.Partial("_footer")
    </body>
    </html>

