<div id="memberL">
    @*<h2>个人中心</h2>*@
    @*<ul id="memberNav">
    <li><a href="@Url.Action("userinfo")"><s>&gt;</s>账户信息</a></li>
    <li><a href="@Url.Action("safeinfo")"><s>&gt;</s>账户安全</a></li>
    <li><a href="@Url.Action("orderlist")"><s>&gt;</s>我的订单</a></li>
    <li><a href="@Url.Action("shipaddresslist")"><s>&gt;</s>收货地址</a></li>
    <li><a href="@Url.Action("productreviewlist")"><s>&gt;</s>商品评价</a></li>
    <li><a href="@Url.Action("addreserve")"><s>&gt;</s>预约量房</a></li>
</ul>*@
    <!--下拉菜单-->
    <section id="conter">
        <section id="help-left">
            <div id="uinfobox">

                <div id="imgbox">
                    <img src="@WorkContext.Avatar"/>
                </div>

                <div id="infobox">
                    <ul style="margin-top: 5px;">
                        <li class="cblock"> 您好，@WorkContext.NickName</li>
                        <li style="width: 143px;"><span style="float: left">元宝：</span><span id="usertotalmoney" style="float: left;width:107px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" class="usertotalmoney Fred bold font10">0.00</span> <span class="clear"></span></li>
                        <li style="width: 143px;"><span style="float: left">银行：</span><span id="banktotalmoney" style="float: left;width:107px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" class="banktotalmoney Fred bold font10">0</span><span class="clear"></span></li>
                    </ul>

                </div>
                <div class="clear"></div>
            </div>
            <details class="menu" open>
                <summary>会员信息</summary>
                <ul>
                    <li><a href="@Url.Action("userinfo")">我的资料</a></li>
                    <li><a href="@Url.Action("accountdetail")">元宝明细</a></li>
                    <li><a href="@Url.Action("changerecord")">兑换记录</a></li>
                    <li><a href="@Url.Action("userbank")">我的银行</a></li> 
                </ul>
            </details> 
            <details class="menu" open>
                <summary>安全管理</summary>
                <ul>
                    <li><a href="@Url.Action("safeinfo")">密码修改</a></li>
                    <li class="hide"><a href="#">登陆验证设置</a></li>
                    <li><a href="@Url.Action("loginlimit")">登陆地区限制</a></li>
                    <li class="hide"><a href="#">用户中心验证设置</a></li> 
                </ul>
            </details>
          
        </section>
        <div class="clearfix"></div>
        <section id="help-right"></section>
    </section>
</div>
<script type="text/javascript">
    var uid=@WorkContext.Uid;
    $(function() {
        if(uid<=0)
            return;
        $.post('/ucenter/getusermoney', {}, function (data) {
            var result = eval("(" + data + ")");
            $('.usertotalmoney').html(transStr(parseFloat(result.content.totalmoney).toFixed(0)));
            $('.banktotalmoney').html(transStr(parseFloat(result.content.bankmoney).toFixed(0)));
        });
    });
</script>