@model OWZX.Web.UserLogList
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登陆设置-@{@WorkContext.ShopConfig.SiteTitle}</title>
    @Html.Raw(WorkContext.ShopConfig.SEOKeyword)
    @Html.Raw(WorkContext.ShopConfig.SEODescription)
    <link href="@{@WorkContext.CSSCDN}/css/base.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/css/ucenter.css" rel="stylesheet" type="text/css" />
    <script src="@{@WorkContext.ScriptCDN}/scripts/jquery.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/region.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/common.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>
    <script type="text/javascript" src="/administration/scripts/showlist.js"></script>
    <script type="text/javascript">
        uid = @WorkContext.Uid;
        isGuestSC = @WorkContext.ShopConfig.IsGuestSC;
        scSubmitType = @WorkContext.ShopConfig.SCSubmitType;
        provinceId = @ViewData["provinceId"]; //省id
        cityId = @ViewData["cityId"]; //市id
        provinceIdtwo = @ViewData["provinceIdtwo"]; //省id
        cityIdtwo = @ViewData["cityIdtwo"]; //市id
        var optionval=@ViewData["isverifylog"];

        $(function() {
            console.log(optionval);
            $('#isverifylog').val(optionval);
            $('.okbtn').click(function() {
                var url = 'http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js&ip=@ViewData["IP"]';
                $.getScript(url, function (_result) {
                    var ipinfo = remote_ip_info;
                    if (ipinfo.ret == '1') {
                        $('#ipname').html(ipinfo.country + ' ' + ipinfo.province + ' ' + ipinfo.city);
                    } else { 
                        $('#ipname').html('没有找到匹配的 IP 地址信息');
                    }
                });
                var regionid = $('#cityId').val();
                if(parseInt(regionid)<1){regionid = $('#provinceId').val();}
                var regionidtwo = $('#cityIdtwo').val();
                if(parseInt(regionidtwo)<1){regionidtwo = $('#provinceIdtwo').val();}
                $.post('/ucenter/UpdateVerifyRgLog', {uid:$('#uid').val(),isveritylog:$('#isverifylog').val(),regionid:regionid,regionidtwo:regionidtwo}, function(data) {
                    var result = eval('(' + data + ')');
                    alert(result.content);
                });
            });
        });
    </script>
</head>

<body>
@Html.Partial("_header")

<div class="bigBox" id="member">
<div class="box">
@Html.Partial("_menu")
<div id="memberR">
    <div style="border-bottom: solid 2px #ccc; padding-bottom:5px; width: 686px;">
        <div class="left">
            <img src="../images/baseimg/banner.png"/>
        </div>
        <div class="left pLeft10">
            <h2 id="memberRT" class="cblock">登陆地区限制</h2>
            <span>设置限制登陆地区</span>
        </div>
        <div class="clear"></div>
    </div>

    <form name="LoginRecordForm" action="">
       
        <div style="margin-top: 10px; border: solid 1px #ddd; width: 686px;">
            <div style="height: 38px; color: #fff; line-height: 39px; background: url('../images/baseimg/msgbgl.png') no-repeat">
                &nbsp; &nbsp;登陆地区设置
            </div>
            <table style="width: 666px; border: solid 1px #ddd; margin: 10px 0 10px 10px; font-size: 12px; color: #000; text-indent: 5px; line-height: 34px;" cellpadding="0" cellspacing="0" class="memberTable">

                <tr class="borDDD">
                    <td class="th" colspan="2">两个常用登录地区都设置成“--”即取消常用登陆地区限制，不设置“市”即省内都可登录</td>
                </tr>
                <tr >
                    <td align="left" class="borDDD textindent" style="width: 190px; height: 34px; line-height: 34px; border-left: none;">我当前登录地区：</td>
                    <td style="border-bottom: solid 1px #ddd; border-top: solid 1px #ddd;" id="ipname">河南 南阳</td>
                </tr>
                <tr >
                    <td align="left" style="border-right: solid 1px #ddd; border-bottom: solid 1px #ddd;">是否开启登陆地区限制：</td>
                    <td style="border-bottom: solid 1px #ddd;"><select id="isverifylog"><option value="0">否</option><option value="1">是</option></select></td>
                </tr>
                <tr >
                    <td align="left" style="border-right: solid 1px #ddd; border-bottom: solid 1px #ddd;">常用登录地区一：</td>
                    <td style="border-bottom: solid 1px #ddd;">
                        <select id="provinceId" name="provinceId">
                            <option selected="selected" value="-1">--</option>
                        </select>
                        <select id="cityId" name="cityId">
                            <option selected="selected" value="-1">--</option>
                        </select> 
                    </td>
                </tr>
                <tr>
                    <td align="left" style="border-right: solid 1px #ddd; border-bottom: solid 1px #ddd;">常用登录地区二：</td>
                    <td style="border-bottom: solid 1px #ddd;">
                        <select id="provinceIdtwo" name="provinceIdtwo">
                            <option selected="selected" value="0">--</option>
                        </select>
                        <select id="cityIdtwo" name="cityIdtwo">
                            <option selected="selected" value="0">--</option>
                        </select> 
                    </td>
                </tr>
                <tr>
                    <td align="left">&nbsp;</td>
                    <td >
                        <a class="greenBT okbtn" style="padding: 4px 20px; font-size: 14px; cursor: pointer;">确定</a>
                    </td>
                </tr>
            </table>
        </div>
@using (Html.BeginForm())
{
        <div style="margin-top: 10px; border: solid 1px #ddd; width: 686px;">
            <div style="height: 38px; color: #fff; line-height: 39px; background: url('../images/baseimg/msgbgl.png') no-repeat">
                &nbsp; &nbsp;登陆记录 <input type="text" style="display: none;" id="uid" name="uid" readonly="readonly" name="type" value="@(Model.PartUser.Uid)"/>
            </div>
            <table style="width: 666px; border: solid 1px #ddd; margin: 10px 0 10px 10px;" cellpadding="0" cellspacing="0" class="memberTableBorder">
                <thead >
                <tr style="height: 34px; line-height: 34px;">
                    <th class="th" style="text-align: left; padding: 5px 0; background: #fff; font-weight: 100;" colspan="4">
                        <input type="radio" class="radioday" name="type" style="margin-left: 10px;" @(Model.type == 1 ? "checked=true" : "") value="1"/>7天&nbsp;&nbsp;
                        <input type="radio" class="radioday" name="type" @(Model.type == 2 ? "checked=true" : "") value="2"/>30天&nbsp;&nbsp;
                        <input type="radio" class="radioday" name="type" value="3" @(Model.type == 3 ? "checked=true" : "")/>半年 &nbsp;&nbsp;
                        <input type="radio" class="radioday" name="type" value="4" @(Model.type == 4 ? "checked=true" : "")/>一年 &nbsp;&nbsp;
                        <a class="greenBT submit" style="cursor: pointer;" style="font-size: 10px; padding: 2px 8px;">提交</a>
                    </th>
                </tr>
                <tr>
                    <th class="th" width="200">时间</th>
                    <th class="th" width="150">IP</th>
                    <th class="th" width="150">地区</th>
                    <th class="th" width="100">成败</th>
                </tr>
                </thead>
                <tbody>
                @foreach (OWZX.Model.MD_UsersLog info in Model.LogList)
                {
                    <tr>
                        <td style="text-align: center; height: 24px; line-height: 24px; border-bottom: solid 1px #ddd;">@info.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td style="text-align: center; border-bottom: solid 1px #ddd;">@(info.Ip)</td>
                        <td style="text-align: center; border-bottom: solid 1px #ddd;">@info.IpName</td>
                        <td style="text-align: center; border-bottom: solid 1px #ddd;">@info.Remark</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        }
    </form>

        <script type="text/javascript">
            //绑定省列表的改变事件
            $("#provinceId").change(function() {
                var selectedProvinceId = $(this).find("option:selected").val();
                if (selectedProvinceId > 0) {
                    bindCityList(selectedProvinceId, document.getElementById("cityId"));
                }
            });
            $("#provinceIdtwo").change(function() {
                var selectedProvinceId = $(this).find("option:selected").val();
                if (selectedProvinceId > 0) {
                    bindCityList(selectedProvinceId, document.getElementById("cityIdtwo"));
                }
            });
            //绑定省列表
            bindProvinceList(document.getElementById("provinceId"), provinceId);
            bindProvinceList(document.getElementById("provinceIdtwo"), provinceIdtwo);
            console.log(cityId);
            if (cityId > 0) {
                bindCityList(provinceId, document.getElementById("cityId"), cityId); 
                //bindCountyList(cityId, document.getElementById("countyId"), countyId);
            }
                console.log(cityIdtwo);
            if (cityIdtwo > 0) {
                bindCityList(provinceIdtwo, document.getElementById("cityIdtwo"), cityIdtwo);
                //bindCountyList(cityIdtwo, document.getElementById("countyIdtwo"), countyIdtwo);
            }
</script>
</div>

<div class="clear"></div>
</div>
<div class="clear"></div>
</div>


@Html.Partial("_footer")
</body>
</html>
