@using System
@model OWZX.Web.Admin.Models.UserRPTDayList

@section header{
<title>账变记录</title>
<link type="text/css" rel="stylesheet" href="/administration/css/site.css"/>
<script type="text/javascript" src="/administration/scripts/jquery.js"></script>
<script type="text/javascript" src="/administration/scripts/showlist.js"></script>
<link href="/components/layer/skin/layer.css" rel="stylesheet" />
<script src="/components/layer/layer.js"></script>
<script type="text/javascript" src="/components/my97datepicker/WdatePicker.js"></script>
}

@section body{
<h1 class="rightH1">
    用户管理 &gt;&gt;用户日报表
<div class="right">
   
<div class="clear"></div>
</div>
<div class="clear"></div>
</h1>
@using (Html.BeginForm())
{
    <div class="dataListSearch">
        <table height="32">
            <tbody>
                <tr>
                    <td width="35"><img id="searchImg" src="/administration/images/search1.gif" /></td>

                    <td>
                        &nbsp;&nbsp;&nbsp;账号：
                    </td>
                    <td width="130">
                        @Html.TextBox("Account", Model.Account, new { height = "18" })
                    </td>
                    <td align="right">&nbsp;&nbsp;&nbsp;时间：</td>
                    <td>
                        <input type="text" class="Wdate" name="Start" id="Start" placeholder="开始时间" onfocus="WdatePicker({ maxDate: '#F{$dp.$D(\'End\')}', dateFmt: 'yyyy-MM-dd' })" value="@Model.Start" autocomplete="off"/>
                        至
                        <input type="text" class="Wdate" name="End" id="End" placeholder="结束时间" onfocus="WdatePicker({ minDate: '#F{$dp.$D(\'Start\')}', dateFmt: 'yyyy-MM-dd' })" value="@Model.End" autocomplete="off"/>
                    </td> 
                    <td style="height:24px;">
                        <input id="SearchUser" name="SearchUser" type="image" class="searchBut submit" src="/administration/images/s.jpg" style="vertical-align: middle;" height="24" />
                       
                        注:当天报表更新每五分钟一次
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<div class="dataList">
<table width="100%">
<thead>
  <tr>
    <th width="20"></th>
    <th width="60" align="left">编号</th>
    <th width="80" align="left">账号</th>
    <th width="200" align="left">投注金额</th>
    <th width="60" align="left">中奖金额</th>
      <th width="60" align="left">回水金额</th>
      <th width="60" align="left">盈亏</th>
    <th width="60" align="left">日期</th>
    </tr>
</thead>
  <tbody>
  @foreach (OWZX.Model.MD_UserRptDay info in Model.RPTList)
  {
  <tr><td></td>
    <td>@info.Id</td>
    <td>@info.Email</td>
    <td>@Convert.ToInt64((0-Convert.ToInt64(info.BettFee))).ToString("N0")</td>
      <td>@Convert.ToInt64(info.WinFee).ToString("N0")</td>
      <td>@Convert.ToInt64(info.BackFee).ToString("N0")</td>
      <td>@Convert.ToInt64(info.YLFee).ToString("N0")</td>
      <td>@info.Addtime.ToString("yyyy-MM-dd HH:mm:ss")</td>
    
    </tr>
  }
</tbody>
</table>
</div>
<div class="dataListEdit">
<div class="page">
    @Html.AdminPager(Model.PageModel)
</div>
</div>
}
}