@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@{@WorkContext.ShopConfig.SiteTitle}</title>
    <link href="@{@WorkContext.CSSCDN}/css/base.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/css/home.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/css/index.css"  rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/css/slider.css" rel="stylesheet" type="text/css" />
    <script src="@{@WorkContext.ScriptCDN}/scripts/jquery.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/common.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/home.js"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/slider.js"></script>
    <script src="@{@WorkContext.ScriptCDN}/components/layer/layer.js"></script>
                                  <script>
    shadowName = "@WorkContext.ShopConfig.ShadowName";
    uid=@WorkContext.Uid;

    $(function(){
        if (uid < 1) {
            $("#banner").show();
            $("#banner2").hide();
        } else {
            $("#banner2").show();
            $("#banner").hide();
        }
        $('.goods').click(function() {
            window.location.href = '/changeware/changelist';
        });
        $.post('/home/GetHomeNewsList', null, function(data) {
            var result=eval('('+data+')');
            var html='';
            for (var i = 0; i < result.content.length; i++) {
                html += ' <li data-id="'+ result.content[i].newsid+'" title="'+result.content[i].title+'">【赏金28】' + result.content[i].title + '</li>';
            }
            $('.news').html(html);
            $('.news li').each(function (i,v) {
                var _this = $(v);
                _this.click(function() {
                    window.location.href = '/news/details?newsId=' + _this.data("id");
                });
            });
        }); 

        var slider1 = new Slider();
        var doc_h = $(document.body).width();
        slider1.inital('sliderBox', {
            slider_num: 2,
            w: doc_h,
            //h: 498
            h: 350
        });
        setInterval(function() {
            var obj = $('.btn-item__cur').next(); 
            if(typeof(obj)!='undefined' && obj.length==1){obj.click();}
            else{$('.btn-item').eq(0).click();}
        }, 5000);
    });
    </script>

</head>
<body>
@Html.Partial("_header")

<div class="mid wrapper" id="wrapper" >
    <div id="banner" class="basecontent" style="position: absolute; right: 18%; display: none; z-index: 999;width:400px;">
        <div id="order" class="order">
            <div style="width: 300px; height: 330px; float: right; margin-top: 20px; background-color: #000000; opacity: 0.8;">
                <div class="ind_reserve" style="margin-left: 24px; width: 85%; text-align: left; height: 38px; line-height: 38px;">
                    <h3 style="border-bottom: solid 1px #fff; color: white;">注册邮箱登录</h3>
                </div>
                <div class="clear"></div>
                <div class="Message">
                    <ul>
                        <li>
                            <input type="text" id="name" placeholder=" 请输入邮箱" autocomplete="off"/>
                        </li>
                        <li>
                            <input type="password" id="password" placeholder=" 密码" autocomplete="off"/>
                        </li>
                        <li>
                            <div style="display: inline-block;">
                                <input type="text" id="code" placeholder=" 验证码" style="width: 126px;" autocomplete="off"/><img id="verifyImage" style="cursor: pointer; margin: 0 0 0 15px; width: 108px; height: 36px; vertical-align: middle;" title="点击刷新验证码" onclick="this.src = '/tool/verifyimage?time=' + new Date()" src="/tool/verifyimage"/>
                            </div>
                        </li>
                        <li><input type="button" id="reserve" class="reserve" name="submit" value="登录"/></li>
                        <li><a class="reg" href="@Url.Action("findpwd", "account")" style="margin: 0 20px;">忘记密码</a>&nbsp; &nbsp; &nbsp;<a class="reg A_b" href="@Url.Action("register", "account")">注册</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div> 
    <div id="banner2" class="basecontent" style="position: absolute; right: 18%;display: none; z-index: 999;width:400px;">
        <div class="order">
            <div style="width: 300px; height: 330px; float: right; margin-top: 20px; background-color: #000; opacity: 0.8;">
                <div class="ind_reserve" style="margin-left: 24px; width: 85%; text-align: left; height: 38px; line-height: 38px;">
                    <h3 style="border-bottom: solid 1px #fff; color: white; margin-top: 10px; opacity: 1;">欢迎来赏金|28行业的龙头站点</h3>
                </div>
                <div class="clear"></div>
                <div class="Message">
                    <ul style="width: 250px;">
                        @if (WorkContext.Uid >0){
                            <li class="orderli"><span>帐号</span><i>@WorkContext.UserEmail</i></li>
                            <li class="orderli"><span>昵称</span><i>@WorkContext.NickName</i></li>
                        }
                        <li class="orderli"><span>元宝</span><i><em class="usertotalmoney"></em></i></li>
                        <li class="orderli"><span>银行</span><i><em class="banktotalmoney"></em></i></li>
                        <li><a  href="@Url.Action("logout", "account")" onclick=""><input type="button" class="reserve" name="submit" value="退出"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>


    <div class="basecontent">
        <div class="title">
            <img src="/images/baseimg/tb_1.jpg"/> 礼品兑换 resent <a href="@Url.Action("changelist","changeware")" class="more">更多>></a>
        </div>
        <div class="goods">
            <img src="~/images/baseimg/gg1.jpg" style="cursor: pointer;"/>
            <img src="~/images/baseimg/gg2.jpg" style="cursor: pointer;"/>
            <img src="~/images/baseimg/gg3.jpg" style="cursor: pointer;"/>
            <img src="~/images/baseimg/gg4.jpg" style="cursor: pointer;" />
        </div>
    </div>
    <div class="games basecontent">
        <div style="float: left; width: 700px; ">
            <div class="title" >
                <img src="/images/baseimg/tb_2.jpg"/> 热门游戏 games  <a href="/nwlottery/ltindex/1"  class="more">更多>></a>
            </div>
            <div style="border: solid 1px #eee;">
                 <a href="/nwlottery/ltindex/3" title="急速28"><img src="~/images/baseimg/js28.png" data-type="1"/></a>
                <a href="/nwlottery/ltindex/1" title="蛋蛋28"><img src="~/images/baseimg/dd28.png" data-type="1"/></a>
                @*<a href="/nwlottery/ltindex/9" title="蛋蛋龙虎豹"><img src="~/images/baseimg/ddlhb.png" data-type="48"/></a>*@
                <a href="/nwlottery/ltindex/2" title="加拿大28"><img src="~/images/baseimg/jnd28.png" data-type="11"/></a>
                <a href="/nwlottery/ltindex/6" title="韩国28"><img src="~/images/baseimg/hg28.png" data-type="47"/></a>
                <a href="/nwlottery/ltindex/4" title="蛋蛋36"> <img src="~/images/baseimg/dd36.png" data-type="49"/></a>
                <a href="/nwlottery/ltindex/5" title="加拿大36"><img src="~/images/baseimg/jnd36.png" data-type="50"/></a>
                <a href="/nwlottery/ltindex/7" title="PK冠军"><img src="~/images/baseimg/PKgj.png" data-type="51"/></a>
                <a href="/nwlottery/ltindex/8" title="PK冠亚军"><img src="~/images/baseimg/PKgyj.png" data-type="52"/></a>
            </div>
        </div>
        <div style="float: right; width: 264px;">
            <div class="title">
                <img src="/images/baseimg/tb_3.jpg"/> 新闻公告 news <a href="/news/list" class="more">更多>></a>
                <div class="clear"></div>
            </div>
            <div style="border: solid 1px #eee;">
                <ul class="news">
                    
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="companyinfo basecontent">
        <div class="title">
            <img src="/images/baseimg/tb_4.jpg"/> 公司介绍 company profile
        </div>
        <div style="text-indent: 24px; font-size: 14px;">    赏金28游戏站点，国内28行业龙头大站，蛋蛋28,蛋蛋龙虎豹,加拿大28,蛋蛋36,韩国28,加拿大36,pk冠军，pk冠亚军，急速28，多种28平台，通过各种有奖游戏获得礼品。</div>
    </div>
    @Html.Partial("_footer")

</body>
</html>

