@{
    ViewBag.Title = "_numberbett";
}
@model List<OWZX.Model.MD_BettMode>
<script src="~/scripts/selmode.js"></script>
<script>
    var StrTimeOut = 0;
    var num = "";
    var bettmodel = "";
    var mymoney = @WorkContext.PartUserInfo.TotalMoney;//我的余额
    var expect=@ViewData["expect"];
</script>
<script src="~/scripts/play.js"></script>
<style>
     .chipsul {
            float: left;
            margin-right: 5px;
        }
        .chipsul li.chips a {
            width: 31px;
            height: 31px;
            display: block;
            float: left;
            text-decoration: none;
        }
         .chipsul .chips1 {
            background: url(../../images/chips/chips_10000.png) no-repeat center;
        }
        .chipsul .chips2 {
            background: url(../../images/chips/chips_100000.png) no-repeat center;
        }
        .chipsul .chips3 {
            background: url(../../images/chips/chips_500000.png) no-repeat center;
        }
        .chipsul .chips4 {
            background: url(../../images/chips/chips_1000000.png) no-repeat center;
        }
         .chips5 {
            background: url(../../images/chips/chips_500000.png) no-repeat center;
        }
        .self {
            height: 29px;
            line-height: 29px; 
            border: 1px solid #e4393c;
            float: left;
            background: #e4393c;
            color: #fff;
        }
        .avinput {
            border: none;
            height: 27px;
            width: 75px;
            color: #f00;
            font-size: 16px;
            margin: -2px 0 0 0px;
            padding-left: 2px;
        }
        .self li {
            float: left;
            height: 29px;
            line-height: 29px;
            font-size: 13px;
        }
        .self li a {
            float: left;
            width: 64px;
            height: 29px; 
            color: #fff;
            text-align: center;
            font-size: 14px;
            text-indent: 0px;
        }
</style>


<div class="bt_page">
    @if((bool)ViewData["exists"])
    {
    <div class="border_out" style="height: auto; margin-top: 8px;">
        <div class="border_out_r">
            <div class="border_out_title"><span style="float: left; width: auto;">我的模式</span> <span style="float: right; width: auto;"></span></div>

            <div style="padding: 2px 5px; border: 1px solid #cacaca; height:24px; line-height: 24px;width:880px;" id="usbettmode">
            @foreach (OWZX.Model.MD_BettMode info in Model)
            { 
            <text><a href='javascript:personmode(@info.Modeid)' style='margin-left:15px;'>@info.Name</a></text>
            }
            </div>
        </div>
    </div>
    }
 
    <div class="border_out" style="margin-top: -2px; height:@(((int)@ViewData["lotterytype"] != 9 && (int)@ViewData["lotterytype"] != 5 && (int)@ViewData["lotterytype"] != 4)?"120px":"75px");">
        <div class="border_out_l">
            <div class="border_out_title"><span style="float: left; width: auto;">标准投注模式</span> <span style="float: right; width: auto;"></span></div>
            @if ((int)@ViewData["lotterytype"] != 9 && (int)@ViewData["lotterytype"] != 5 && (int)@ViewData["lotterytype"] != 4)
            {
            <table border="0" align="left" style="padding-left: 5px;">
                <tr>
                    <td class="img_bt1" style="display: none" attr="0">全包</td>
                    <td class="img_bt1" attr="1">单</td>
                    <td class="img_bt1" attr="2">双</td>
                    <td class="img_bt1" attr="3">大</td>
                    <td class="img_bt1" attr="4">小</td>
                    <td class="img_bt1" attr="5">中</td>
                    <td class="img_bt1" attr="6">边</td>
                    <td class="img_bt1" attr="7">大单</td>
                    <td class="img_bt1" attr="8">小单</td>
                    <td class="img_bt1" attr="9">大双</td>
                    <td class="img_bt1" attr="10">小双</td>
                    <td class="img_bt1" attr="11">大边</td>
                    <td class="img_bt1" attr="12">小边</td>
                    <td class="img_bt1" attr="13">单边</td>
                    <td class="img_bt1" attr="14">双边</td>
                    <td class="img_bt1" attr="15">0尾</td>
                    <td class="img_bt1" attr="16">1尾</td>
                    <td class="img_bt1" attr="17">2尾</td>
                    <td class="img_bt1" attr="18">3尾</td>
                    <td class="img_bt1" attr="19">4尾</td>

                </tr>
                <tr>
                    <td class="img_bt1" attr="20">小尾</td>
                    <td class="img_bt1" attr="21">5尾</td>
                    <td class="img_bt1" attr="22">6尾</td>
                    <td class="img_bt1" attr="23">7尾</td>
                    <td class="img_bt1" attr="24">8尾</td>
                    <td class="img_bt1" attr="25">9尾</td>
                    <td class="img_bt1" attr="26">大尾</td>
                    <td class="img_bt1" attr="27">3余0</td>
                    <td class="img_bt1" attr="28">3余1</td>
                    <td class="img_bt1" attr="29">3余2</td>
                    <td class="img_bt1" attr="30">4余0</td>
                    <td class="img_bt1" attr="31">4余1</td>
                    <td class="img_bt1" attr="32">4余2</td>
                    <td class="img_bt1" attr="33">4余3</td>
                    <td class="img_bt1" attr="34">5余0</td>
                    <td class="img_bt1" attr="35">5余1</td>
                    <td class="img_bt1" attr="36">5余2</td>
                    <td class="img_bt1" attr="37">5余3</td>
                    <td class="img_bt1" attr="38">5余4</td>
                </tr>
            </table> 
            }
             <div class="border_out1_l" id="border_out1_l" style="border-right: 1px solid #e4393c; margin-left: 7px;">
             <span>0.1倍</span><span>1.5倍</span><span>2倍</span><span>10倍</span><span>50倍</span><span>100倍</span>
        </div> 
        </div>
    </div> 
       <div class="border_out1">
            <div style="width: 388px;height: 33px;float: left;color: #515151;line-height: 33px;">
            <ul class="chipsul" style="float: left;margin:0px 10px 10px;">
				<li class="chips">
				<a class="chips1" title="" href="javascript:chips(10000)">&nbsp;</a>
				<a class="chips2" title="" href="javascript:chips(100000)">&nbsp;</a>
				<a class="chips3" title="" href="javascript:chips(500000)">&nbsp;</a>
				<a class="chips4" title="" href="javascript:chips(1000000)">&nbsp;</a>
				<a class="chips5" title="" href="javascript:chips(5000000)">&nbsp;</a>
				</li>
			</ul>
                <ul class="self">
		        <li><input id="betsLeft" class="avinput" type="text"/>
		        </li><li><a href="javascript:usefenpei()">定额梭哈</a></li>
	        </ul>
            </div>
         <div class="border_out1_c">
            <div style="float: left; width: 72px; padding-left: 5px;">总投注乐豆：</div>
            <div style="color: #ff0000; width: 108px; float: left; overflow: hidden" id="totalvalue">
                0
            </div>
            <div class="conform_btn" onclick="comform()" id="conform_btn">确认投注</div>
            
        </div>
        <div class="border_out1_r">
            <div class="touzhu2" style="display: none;">反选</div>
            <div class="touzhu2">清除</div>
            <div class="touzhu2" style="width: 60px;" data-id="@ViewData["lotterytype"]" id="provbett_btn">上期投注</div>
            <div class="touzhu2" id="prevbett" onclick="useSuoha();">梭哈</div>
            <div class="touzhu2" id="btnall" onclick="setValue(0);">全包</div>  
        </div>
    </div>
    <div class="content_middle" style="height: auto; width: 910px; margin: auto;" id="panel">

        @{
            DataSet ds = (DataSet)ViewData["ltset"];
            int lottype=(int)@ViewData["lotterytype"];
        }
       
        <input class="input2" name="SMONEYY" type="hidden" value="ALD" />
        <table style="width:455px;color: Black;border-collapse:collapse; border:1px solid #cacaca;border-top:none;border-right:none;" border="0" cellpadding="0" cellspacing="1" align="left">
            <tr align="center" height="20">
                <th width="50">号码</th>
                <th width="71" style="display: none;">上期赔率</th>
                <th width="71">当前赔率</th>
                <th width="71">已投注</th>
                <th width="53">请选择</th>
                <th width="100">投注</th>
                <th width="120">倍数</th>
            </tr>
            @foreach (DataRow row in ds.Tables[0].Rows)
            {
               // string num =(lottype==4 ||lottype==5)?@row["id"].ToString():@row["item"].ToString();
                string num = @row["item"].ToString();
            <text>
                <tr align="center" bgcolor="#FFFFFF" height="27">
                    <td>
                        @if((int)@ViewData["lotterytype"]!=9)
                        {
                            <span class="ltresult pcresult btnumber" style="background-image: url('../../images/number/lottery.png'); "
                                  width="25" height="25">@row["item"]</span>
                        }
                        else
                        {
                            <span class="ltresult lhbresult btnumber"
                                  width="25" height="25">@row["item"]</span>
                        }
                    </td>
                    <td style="display: none;"></td>
                    <td class="lossrate" data-type=@row["item"]>@row["odds"]</td>
                    <td ><span id="span_@num"></span></td>
                    <td>
                        <input type="checkbox" name="checkboxd" value="checkbox" />
                    </td>
                    <td>
                        <input type="text" class="input2" name="SMONEY" style="width: 80px; ime-mode: disabled"
                               id="txt_@num" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" maxlength="8" />
                    </td>
                    <td style="width: 120px;">
                        <a class="multiple" href="javascript:chgTimes('txt_@num',0.5)">.5</a>
                        <a class="multiple" href="javascript:chgTimes('txt_@num',2)">2</a>
                        <a class="multiple" href="javascript:chgTimes('txt_@num',10)">10</a>
                    </td>
                </tr>
            </text>
            }

        </table>
        <table style="width:455px;color: Black;border-collapse:collapse;border:1px solid #cacaca;border-top:none;border-left:none;" border="0" cellpadding="0" cellspacing="1" align="right">
            <tr align="center" height="20">
                <th width="50">号码</th>
                <th width="71" style="display: none;">上期赔率</th>
                <th width="71">当前赔率</th>
                <th width="71">已投注</th>
                <th width="53">请选择</th>
                <th width="100">投注</th>
                <th width="120">倍数</th>
            </tr>
             
            @foreach (DataRow row in ds.Tables[1].Rows)
            {
                //string num = (lottype == 4 || lottype == 5) ? @row["id"].ToString() : @row["item"].ToString();
                string num = @row["item"].ToString();
                <tr align="center" bgcolor="#FFFFFF" height="27">
                    <td>
                        @if ((int)@ViewData["lotterytype"] != 9)
                        {
                            <span class="ltresult pcresult btnumber" style="background-image: url('../../images/number/lottery.png'); "
                                  width="25" height="25">@row["item"]</span>
                        }
                        else
                        {
                            <span class="ltresult lhbresult btnumber"
                                  width="25" height="25">@row["item"]</span>
                        }
                    </td>
                    <td style="display: none;"></td>
                    <td class="lossrate" data-type=@row["item"]>@row["odds"]</td>
                     <td ><span id="span_@num"></span></td>
                    <td>
                        <input type="checkbox" name="checkboxd" value="checkbox"/>
                    </td>
                    <td>
                        <input type="text" class="input2" name="SMONEY" style="width: 80px; ime-mode: disabled" id='txt_@num' onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" maxlength="8"/>
                    </td>
                    <td style="width: 120px;">
                        <a class="multiple" href="javascript:chgTimes('txt_@num',0.5)">.5</a>
                        <a class="multiple" href="javascript:chgTimes('txt_@num',2)">2</a>
                        <a class="multiple" href="javascript:chgTimes('txt_@num',10)">10</a>
                    </td>
                </tr>
            } 

        </table>
        
    </div>
</div>
