@{
    ViewBag.Title = "_bettrecord";
}
@model LotteryRecord

@{
    
    DataSet ds = (DataSet)@ViewData["ltset"];
    DataTable dt = (DataTable)@ViewData["bett"];
    DataRow row = dt.Rows[0];
    string status = row["status"].ToString() == "2" ? "已开奖" : "未开奖";
    string opentime = DateTime.Parse(row["opentime"].ToString()).ToString("MM-dd HH:mm:ss");
    int lotterytype=int.Parse(row["lotteryid"].ToString());
    int isnumber = (lotterytype == 4 || lotterytype == 5 || lotterytype == 9) ? 0 : 1;
}
<div class="tzbanner touzhutop">
    <div class="tzbanner_z touzhutop_n">
        <div class="tzbanner_fk fk_wz touzhutop_t">
            <table width="900" border="0" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                    <tr>
                        <td height="9" colspan="4" align="left"></td>
                    </tr>
                    <tr>
                        <td width="235" height="30" align="left">&nbsp;&nbsp;&nbsp;&nbsp;期号：<font color="red">@row["lotterynum"]</font></td>
                        <td width="230" align="left">开奖状态：@status</td>
                        <td width="230" height="30" align="left">开奖时间：@opentime</td>
                        <td width="225" align="left">开奖结果：
                        @if (row["status"].ToString() == "2")
                        {
                            if (lotterytype == 1 || lotterytype == 2 || lotterytype == 3 || lotterytype == 6
                                || lotterytype == 9 || lotterytype == 7 || lotterytype == 8)
                        {<span style="font-size:15px;">
                            
                            <span class="ltresult pcresult">
                                @{string resnum = int.Parse(row["resultnum"].ToString()).ToString("d2");}
                                @resnum
                            </span>
                        </span>
                        }
                        else if (lotterytype == 4 || lotterytype == 5)
                        {
                            string type = row["resultnum"].ToString();
                            string cltype = type == "豹" ? "z1" : (type == "顺" ? "z3" : (type == "对" ? "z2" : (type == "半" ? "z4" : "z5")));
                            <span style="font-size:15px;">
                                <span class="ltresult pcresult">@type</span>
                            </span>
                        }
                        }
                         
                        </td>
                    </tr>
                    <tr>
                        @{string mybett = string.Format("{0:n0}", @row["money"]);
                          string winmoney = string.Format("{0:n0}", @row["winmoney"]);
                          string mywin = string.Format("{0:n0}", @row["win"]);
                        }
                        <td width="235" height="30" align="left"><span style="float: left;">&nbsp;&nbsp;&nbsp;&nbsp;我的投注额：@mybett</span><img style="float: left;margin-top:6px; margin-left: 5px;width: 20px; height: 16px;" src="../../images/yuanbao.png"/><span class="clear"></span></td>
                        <td width="230" height="30" align="left"><span style="float: left;">获得金额：@winmoney</span><img style="float: left;margin-top:6px;  margin-left: 5px;width: 20px; height: 16px;" src="../../images/yuanbao.png"/><span class="clear"></span></td>
                        <td width="230" height="30" align="left"><span style="float: left;">我的盈亏：<font color="red">@mywin</font> </span><img style="float: left;margin-top:6px;  margin-left: 5px;width: 20px; height: 16px;" src="../../images/yuanbao.png"/><span class="clear"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<table class="con_table" id="bettdetails"  cellpadding="0" cellspacing="1" align="center"
       style="width:900px; color: Black; border:1px solid #cacaca;border-top:none;border-right:none;
margin-bottom: 4px;margin-top:5px;  " >
    <tr >
        <th width="15%" style="height: 28px;text-align:center;">号码</th>
        <th width="20%" style="height: 28px;text-align:center;">赔率</th>
        <th width="20%" style="height: 28px;text-align:center;">我的投注</th>
        <th width="20%" style="height: 28px;text-align:center;">获得金额</th>
    </tr>
    @foreach (DataRow rw in @ds.Tables[0].Rows)
    {
        Dictionary<object, int> dic = new Dictionary<object, int>();
        foreach (string item in row["bettinfo"].ToString().Split(';'))
        {
            string[] betitem = item.Split(':');
            dic[(isnumber == 0 ? betitem[0] : int.Parse(betitem[0]).ToString())] = int.Parse(betitem[1]);
            
        }
        <tr align="center" bgcolor="#FFFFFF" height="27">
            <td>
                @if ((int)@row["lotteryid"] != 9)
                {
                    <span class="ltresult pcresult btnumber" style="background-image: url('../../images/number/lottery.png'); "
                          width="25" height="25">@rw["item"]</span>
                }
                else
                {
                    <span class="ltresult lhbresult btnumber"
                          width="25" height="25">@rw["item"]</span>
                }
            </td>
            <td>@rw["odds"]</td>
            <td>@if (dic.ContainsKey((isnumber == 0 ? @rw["item"].ToString() : int.Parse(@rw["item"].ToString()).ToString())))
                { 
                  @dic[(isnumber == 0 ? @rw["item"].ToString() : int.Parse(@rw["item"].ToString()).ToString())].ToString("n0")
                }else
                {
                @:-
                }</td>
            <td>
                @if (dic.ContainsKey((isnumber == 0 ? @rw["item"].ToString() : int.Parse(@rw["item"].ToString()).ToString())))
                {
                    if (rw["item"].ToString() == row["resultnum"].ToString() 
                        ||(","+rw["nums"].ToString()+",").Contains(","+row["resultnum"].ToString()+","))
                    {
                        int win = (int)(dic[(isnumber == 0 ? @rw["item"].ToString() : int.Parse(@rw["item"].ToString()).ToString())] * float.Parse(rw["odds"].ToString()));
                        @win.ToString("n0")
                    }
                    else
                    {
                        @:-
                    }
                }
                else
                {
                    @:-
                }
        </td>
    </tr>
    }
    @foreach (DataRow rw in @ds.Tables[1].Rows)
    {
        Dictionary<object, int> dic = new Dictionary<object, int>();
        foreach (string item in row["bettinfo"].ToString().Split(';'))
        {
            string[] betitem = item.Split(':');
            dic[(isnumber == 0 ? betitem[0] : int.Parse(betitem[0]).ToString())] = int.Parse(betitem[1]);

        }
        <tr align="center" bgcolor="#FFFFFF" height="27">
            <td>
                @if ((int)@row["lotteryid"] != 9)
                {
                    <span class="ltresult pcresult btnumber" style="background-image: url('../../images/number/lottery.png'); "
                          width="25" height="25">@rw["item"]</span>
                }
                else
                {
                    <span class="ltresult lhbresult btnumber"
                          width="25" height="25">@rw["item"]</span>
                }
            </td>
            <td>@rw["odds"]</td>
            <td>
                @if (dic.ContainsKey((isnumber == 0 ? @rw["item"].ToString() : int.Parse(@rw["item"].ToString()).ToString())))
                {
                    @dic[(isnumber == 0 ? @rw["item"].ToString() : int.Parse(@rw["item"].ToString()).ToString())].ToString("n0")
                }
                else
                {
                    @:-
                }
        </td>
        <td>
            @if (dic.ContainsKey((isnumber == 0 ? @rw["item"].ToString() : int.Parse(@rw["item"].ToString()).ToString())))
            {
                if (rw["item"].ToString() == row["resultnum"].ToString()
                    ||(","+rw["nums"].ToString()+",").Contains(","+row["resultnum"].ToString()+","))
                {
                    int win = (int)(dic[(isnumber == 0 ? @rw["item"].ToString() : int.Parse(@rw["item"].ToString()).ToString())] * float.Parse(rw["odds"].ToString()));
                    @win.ToString("n0")
                }
                else
                {
                    @:-
                    }
            }
            else
            {
                @:-
                }
        </td>
    </tr>
    }
    </table>
