@{
    ViewBag.Title = "_bettmode";
}
@model List<OWZX.Model.MD_BettMode>
<style>
    button {
        border: 0;
        cursor: pointer;
        padding: 0 0px 0 0;
        text-align: center;
        width: auto;
        overflow: visible;
    }

        button span {
            position: relative;
            display: block;
            white-space: nowrap;
            padding: 0 0 0 5px;
        }

        button.submitBtn_tz {
            background: url(../../images/btn_blue_right.gif) left no-repeat;
            font-size: 1.0em;
        }

            button.submitBtn_tz span {
                width: 50px;
                height: 22px;
                line-height: 22px;
                border: 1px solid #ccc;
                background-color: #d7d7d7;
                color: #000;
                font-weight: normal;
            }

            button.submitBtn_tz:hover {
                background: url(../../images/btn_blue_right_hover.gif) right no-repeat;
            }

                button.submitBtn_tz:hover span {
                    background: url(../../images/btn_blue_left_hover.gif) left no-repeat;
                }

    .img_bt1 {
    border-color:#fdcd77;
    }
    .content1 {
                padding: 5px;
                padding-top: 0px;
                min-height: 22px;
                _height: 22px;
                text-align: left;
                line-height: 22px;
                font-size: 12px;
                float:left;
            }
    .newtr a:hover {
    cursor:pointer;
    }
</style>
<script src="~/scripts/selmode.js"></script>
<script src="~/scripts/betmode.js"></script>
<script></script>

<div style="width: 960px; margin: auto auto; margin-top: 10px; margin-bottom: 15px;">
    <table width="960" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFB91F" align="center" style="color: Black;">
        <tr align="center" id="mdhead" style="height:28px; line-height: 20px;">
            <td align="left" background="../../images/xy28_bg.gif"
                style="height:20px; padding-left: 10px; font-weight: bold; color: #515151;vertical-align:middle;">
               我的自定义投注&nbsp;&nbsp;<a href="javascript:AddMode()"><img src="../../images/tjms_an.jpg" width="70" height="23" border="0" style="margin-top:2px;" /></a>
            </td>
        </tr>
        <tr class="newtr" align="center" bgcolor="#FFFFFF">
            
            @if (Model.Count == 0)
            {
                <td valign="middle" bgcolor="#FFFaC7" style="text-align:center;height: 28px;">
                    您还未添加自定义模式
                </td>
            }
            else
            {
                int index = 1;
                <td valign="middle" bgcolor="#FFFaC7" style="text-align:left;height: 28px;">
                    
                    @foreach (OWZX.Model.MD_BettMode info in Model)
                    {
                    <a style="margin-left:10px;" id="ModeName_@index" onclick="Change_Modes(@index)">@info.Name</a>
                        index = index + 1;
                    }
                </td>
            }
        </tr>
    </table>
</div>


<table width="960" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td align="left" style="font-size: 13px">&nbsp;&nbsp;<strong class="font_red"><label id="m_info">新投注模式的详细情况：</label></strong>&nbsp;&nbsp;<font color="green"></font></td>
    </tr>
</table>
<table bgcolor="#FFB91F" border="0" cellpadding="0" cellspacing="1" width="910" align="center">
@if ((int)@ViewData["lotterytype"] != 9)
    {
    <tr>
        <td align="left" bgcolor="#f4f4f4" class="touzhua" colspan="2">

            <table border="0" align="left" style="width:905px;margin-bottom:5px;margin-top:5px;margin-left: 5px;">
                <tr><th style="text-align:left;"><strong>标准投注模式：</strong></th></tr>
                <tr>
                    <td class="img_bt1" onclick="FirstModes(1)">全包</td>
                    <td class="img_bt1" onclick="FirstModes(2)">单</td>
                    <td class="img_bt1" onclick="FirstModes(3)">双</td>
                    <td class="img_bt1" onclick="FirstModes(4)">大</td>
                    <td class="img_bt1" onclick="FirstModes(5)">小</td>
                    <td class="img_bt1" onclick="FirstModes(6)">中</td>
                    <td class="img_bt1" onclick="FirstModes(7)">边</td>
                    <td class="img_bt1" onclick="FirstModes(8)">大单</td>
                    <td class="img_bt1" onclick="FirstModes(9)">小单</td>
                    <td class="img_bt1" onclick="FirstModes(10)">大双</td>
                    <td class="img_bt1" onclick="FirstModes(11)">小双</td>
                    <td class="img_bt1" onclick="FirstModes(12)">大边</td>
                    <td class="img_bt1" onclick="FirstModes(13)">小边</td>
                    <td class="img_bt1" onclick="FirstModes(14)">单边</td>
                    <td class="img_bt1" onclick="FirstModes(15)">双边</td>
                    <td class="img_bt1" onclick="FirstModes(16)">0尾</td>
                    <td class="img_bt1" onclick="FirstModes(17)">1尾</td>
                    <td class="img_bt1" onclick="FirstModes(18)">2尾</td>
                    <td class="img_bt1" onclick="FirstModes(19)">3尾</td>
                    
                </tr>
                <tr>
                    <td class="img_bt1" onclick="FirstModes(20)">4尾</td>
                    <td class="img_bt1" onclick="FirstModes(21)">小尾</td>
                    <td class="img_bt1" onclick="FirstModes(22)">5尾</td>
                    <td class="img_bt1" onclick="FirstModes(23)">6尾</td>
                    <td class="img_bt1" onclick="FirstModes(24)">7尾</td>
                    <td class="img_bt1" onclick="FirstModes(25)">8尾</td>
                    <td class="img_bt1" onclick="FirstModes(26)">9尾</td>
                    <td class="img_bt1" onclick="FirstModes(27)">大尾</td>
                    <td class="img_bt1" onclick="FirstModes(28)">3余0</td>
                    <td class="img_bt1" onclick="FirstModes(29)">3余1</td>
                    <td class="img_bt1" onclick="FirstModes(30)">3余2</td>
                    <td class="img_bt1" onclick="FirstModes(31)">4余0</td>
                    <td class="img_bt1" onclick="FirstModes(32)">4余1</td>
                    <td class="img_bt1" onclick="FirstModes(33)">4余2</td>
                    <td class="img_bt1" onclick="FirstModes(34)">4余3</td>
                    <td class="img_bt1" onclick="FirstModes(35)">5余0</td>
                    <td class="img_bt1" onclick="FirstModes(36)">5余1</td>
                    <td class="img_bt1" onclick="FirstModes(37)">5余2</td>
                    <td class="img_bt1" onclick="FirstModes(38)">5余3</td>
                    <td class="img_bt1" onclick="FirstModes(39)">5余4</td>
                </tr>
            </table>
        </td>
    </tr>
}
    <tr>
        <td align="left" bgcolor="#f4f4f4" class="touzhu" colspan="2" height="30">
            <table style="width:955px;" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="50%" valign="middle" style="padding-top: 2px;">
                        &nbsp;&nbsp;
                        <button value="s" type="button" onclick="chgbbb(1);" class="submitBtn_tz"><span>1倍</span></button>&nbsp;
                        <button value="s" type="button" onclick="chgbbb(1.5);" class="submitBtn_tz"><span>1.5倍</span></button>&nbsp;
                        <button value="s" type="button" onclick="chgbbb(2);" class="submitBtn_tz"><span>2倍</span></button>&nbsp;
                        <button value="s" type="button" onclick="chgbbb(10);" class="submitBtn_tz"><span>10倍</span></button>&nbsp;
                        <button value="s" type="button" onclick="chgbbb(50);" class="submitBtn_tz"><span>50倍</span></button>&nbsp;
                        <button value="s" type="button" onclick="chgbbb(100);" class="submitBtn_tz"><span>100倍</span></button>
                    </td>
                    <td width="30%" valign="middle">
                        &nbsp;&nbsp;&nbsp;
                        总投注额:&nbsp<input id="SMONEYSUM2" class="input3" name="SMONEYSUM2" readonly="readonly" type="text" value="0" />
                        &nbsp;&nbsp;
                        
                    </td>
                    <td width="20%" valign="middle" style="padding-top: 2px;">
                        <button value="submit" type="button" class="submitBtn_tz" onclick="OnSave()"><span>&nbsp;保&nbsp;存&nbsp;</span></button>&nbsp;&nbsp;&nbsp;
                        @*<button value="submit" type="button" class="submitBtn_tz" onclick="OnSaveAs()"><span>&nbsp;另存为&nbsp;</span></button>&nbsp;&nbsp;&nbsp;*@
                        <button value="submit" type="button" class="submitBtn_tz" onclick="OnDelete()"><span>&nbsp;删&nbsp;除&nbsp;</span></button>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
@{
    DataSet ds = (DataSet)ViewData["ltset"];
    int lottype = (int)@ViewData["lotterytype"];
}
<table style="width: 480px; float: left;margin-top:10px;" bgcolor="#FFB91F" border="0" cellpadding="0" cellspacing="1" align="center" class="tb_btmode">
    <tr>
        <td align="center" background="../../images/xy28_bg.gif" bgcolor="#FFFFFF" height="28"
            width="18%">
            预测结果
        </td>
        <td align="center" background="../../images/xy28_bg.gif" bgcolor="#FFFFFF" height="28"
            width="18%">
            当前赔率
        </td>
        <td align="center" background="../../images/xy28_bg.gif" bgcolor="#FFFFFF" width="64%">投注</td>
    </tr>
    @foreach (DataRow row in ds.Tables[0].Rows)
    {
        string num = (lottype == 4 || lottype == 5 || lottype==9 || lottype == 17) ? @row["id"].ToString() : @row["item"].ToString();

        <text>
            <tr>
                <td align="center" bgcolor="#FFFFFF" height="30">
                    @if ((int)@ViewData["lotterytype"] != 9)
                    {
                        <span class="ltresult pcresult btnumber" style="background-image: url('../../images/number/lottery.png'); "
                              width="25" height="25">@row["item"]</span>
                    }
                    else
                    {
                        <span class="ltresult lhbresult btnumber"
                              width="25" height="25">@row["item"]</span>
                    }
                    </td>
                    <td align="center" class="lossrate" bgcolor="#FFFFFF" height="30" data-type="@num">@row["odds"]</td>
                    <td align="center" bgcolor="#FFFFFF">
                        <input class="input3" id="SMONEY_@num" name="SMONEY" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"
                               onkeyup="if(event.keyCode !=37 && event.keyCode != 39) value=value.replace(/\D/g,'');inputsb(this.value,0);"
                               size="15" type="text" value="0" maxlength="9" />
                        <input class="input3" name="Add" onclick="AddMONEY(@num);" type="button" value="+" />
                        <input class="input3" name="Decrease" onclick="DecreaseMONEY(@num);" type="button" value="-" />
                    </td>
                </tr>
        </text>
    }
    <tr>
        <td align="center" bgcolor="#F4F4F4" colspan="3" height="30">
            <span class="STYLE1">总投注额：</span>
            <input id="SMONEYSUM" class="input1" name="SMONEYSUM" readonly="readonly" type="text"
                   value="0" />
        </td>
    </tr>
</table>
<table style="width: 480px; float: left;margin-top:10px;" bgcolor="#FFB91F" border="0" cellpadding="0" cellspacing="1" align="center" class="tb_btmode">
    <tr>
        <td align="center" background="../../images/xy28_bg.gif" bgcolor="#FFFFFF" height="28"
            width="18%">
            预测结果
        </td>
        <td align="center" background="../../images/xy28_bg.gif" bgcolor="#FFFFFF" height="28"
            width="18%">
            当前赔率
        </td>
        <td align="center" background="../../images/xy28_bg.gif" bgcolor="#FFFFFF"
            width="64%">
            投注
        </td>
    </tr>
    @foreach (DataRow row in ds.Tables[1].Rows)
        {
            string num = (lottype == 4 || lottype == 5 || lottype == 9 || lottype == 17) ? @row["id"].ToString() : @row["item"].ToString();

        <text>
            <tr>
                <td align="center" bgcolor="#FFFFFF" height="30">
                    @if ((int)@ViewData["lotterytype"] != 9)
                       {
                        <span class="ltresult pcresult btnumber" style="background-image: url('../../images/number/lottery.png'); "
                              width="25" height="25">@row["item"]</span>
                       }
                       else
                       {
                        <span class="ltresult lhbresult btnumber"
                              width="25" height="25">@row["item"]</span>
                       }
                </td>
                <td align="center" class="lossrate" bgcolor="#FFFFFF" height="30" data-type="@num">@row["odds"]</td>
                <td align="center" bgcolor="#FFFFFF">
                    <input class="input3" id="SMONEY_@num" name="SMONEY" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/\D/g,''))"
                           onkeyup="if (event.keyCode != 37 && event.keyCode != 39) value = value.replace(/\D/g, '');inputsb(this.value, 0);"
                           size="15" type="text" value="0" maxlength="9" />
                    <input class="input3" name="Add" onclick="AddMONEY(@num);" type="button" value="+" />
                    <input class="input3" name="Decrease" onclick="DecreaseMONEY(@num);" type="button" value="-" />
                </td>
            </tr>
        </text>
        }
    <tr>
        <td align="center" bgcolor="#FFFFFF" colspan="3" height="30">
            <button value="submit" type="button" class="submitBtn_tz" onclick="OnSave()"><span>&nbsp;保&nbsp;存&nbsp;</span></button>&nbsp;&nbsp;&nbsp;
            <button value="submit" type="button" class="submitBtn_tz" onclick="OnDelete()"><span>&nbsp;删&nbsp;除&nbsp;</span></button>
        </td>

    </tr>
</table>
<div style="height:0;overflow:hidden;clear:both;"></div>

<div class="content_bottom">&nbsp;</div>
<script>
    $(function() {
        $(".img_bt1").css("background", "url(../../images/img_bt1.png) left no-repeat");
        Init('');
    });
    function Init(index)
    {
        ModeNames = new Array("", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "");
        modelbetttype = new Array("", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "",
        "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "");

        if(index=="save")
        {
            $(".temp_content").load("/nwlottery/_bettmode",{"type":lotterytype});

        }else
        {
            @{int mdindex=0;}
            @if(@Model.Count>0)
            {
                foreach(OWZX.Model.MD_BettMode item in @Model)
                 {
                     item.Bettinfo = item.Bettinfo.
                         Replace("豹", "1").Replace("顺", "2").Replace("对", "3").Replace("半", "4").Replace("杂", "5");
                    var arr = item.Bettinfo.Split(';');
                    
                    for(int i=0;i<arr.Length;i++)
                    {
                        var sz = arr[i].Split(':');
                        
                    <text>ModelDatas[@mdindex][parseInt(@sz[0])] = @sz[1];</text>
                    }
                    <text>ModelDatas[@mdindex][28] = @item.Betttotal;
                         ModeNames[@mdindex] = '@item.Name';</text>
                    mdindex++;
              }
            }
        }


    }
</script>

