@{
    ViewBag.Title = "_bettrecord";
}
@model LotteryRecord

@{

    DataSet ds = (DataSet)ViewData["ltset"];
    DataTable dt = (DataTable)ViewData["bett"];
    DataRow rowbet = dt.Rows[0];
    string status = rowbet["status"].ToString() == "2" ? "已开奖" : "未开奖";
    string opentime = DateTime.Parse(rowbet["opentime"].ToString()).ToString("MM-dd HH:mm:ss");
    int lotterytype = int.Parse(rowbet["lotteryid"].ToString());
    int isnumber = (lotterytype == 4 || lotterytype == 5 || lotterytype == 9 || lotterytype == 17 || lotterytype == 30) ? 0 : 1;
    string[] resulttype = rowbet["resulttype"].ToString().Split(';');
    List<string> bettinfo = rowbet["bettinfo"].ToString().Split(';').ToList<string>();
        
}
<script>
    $(function () {
        $.post('/nwlottery/getprovbettinfo', { 'type': 27, lotterynum: @rowbet["lotterynum"].ToString() }, function (data) {
            console.log(data);
            var dt = JSON.parse(data);
            for (var i = 0; i < dt.length; i++) {
                    var arr = dt[i].bettinfo.split(';');
                    $.each(arr, function (i) {
                        var arritem = arr[i].split(':');
                        if (parseInt(arritem[0]) + "" != "NaN") {
                            $("#span_" + (parseInt(arritem[0])).toString()).html(ver(arritem[1]));
                        } else {
                            $("[id='span_" + arritem[0] + "']").html(ver(arritem[1]));
                        }
                    });
            }
        });
    })
</script>
<style>
    .content_middle td{
            border: 1px solid #eee;
    }
</style>
<div class="tzbanner touzhutop">
    <div class="tzbanner_z touzhutop_n">
        <div class="tzbanner_fk fk_wz touzhutop_t">
            <table width="900" border="0" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                    <tr>
                        <td height="9" colspan="4" align="left"></td>
                    </tr>
                    <tr>
                        <td width="235" height="30" align="left">&nbsp;&nbsp;&nbsp;&nbsp;期号：<font color="red">@rowbet["lotterynum"]</font></td>
                        <td width="230" align="left">开奖状态：@status</td>
                        <td width="230" height="30" align="left">开奖时间：@opentime</td>
                        
                    </tr>
                    <tr>
                        @{string mybett = string.Format("{0:n0}", rowbet["money"]);
                          string winmoney = string.Format("{0:n0}", rowbet["winmoney"]);
                          string mywin = string.Format("{0:n0}", rowbet["win"]);
                        }
                        <td width="235" height="30" align="left"><span style="float: left;">&nbsp;&nbsp;&nbsp;&nbsp;我的投注额：@mybett</span><img style="float: left;margin-top:6px; margin-left: 5px;width: 20px; height: 16px;" src="../../images/yuanbao.png"/><span class="clear"></span></td>
                        <td width="230" height="30" align="left"><span style="float: left;">获得金额：@winmoney</span><img style="float: left;margin-top:6px;  margin-left: 5px;width: 20px; height: 16px;" src="../../images/yuanbao.png"/><span class="clear"></span></td>
                        <td width="230" height="30" align="left"><span style="float: left;">我的盈亏：<font color="red">@mywin</font> </span><img style="float: left;margin-top:6px;  margin-left: 5px;width: 20px; height: 16px;" src="../../images/yuanbao.png"/><span class="clear"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<table style="width:960px;color: Black;border-collapse:collapse; border:1px solid #cacaca;border-top:none;border-right:none;" border="0"
       cellpadding="0" cellspacing="1" class="tb_btmode tb_gy content_middle">
    <tr align="center" height="20"><th colspan="20" style="font-size:20px;">冠亚军和</th></tr>

    @{int id = 0;
    string gytype = "," + resulttype[1].Replace("冠亚:", "") + ",";
    DataRowCollection gyh = ds.Tables[0].Rows;
    }
    @for (int j = 0; j < 5; j++)
    {
        <tr align="center" bgcolor="#FFFFFF" height="27">
            @for (int i = 0; i < 4; i++)
            {
                id = id + 1;
                if (gyh.Count < id)
                {
                    break;
                }
                string num = gyh[id - 1]["setid"].ToString();
                DataRow row = gyh[id - 1];
                string btitem = row["item"].ToString();
                int numresult = 0;
                if (int.TryParse(btitem, out numresult))
                {
                    btitem = numresult.ToString().PadLeft(2, '0');
                }
                <td width="6%">
                    <span class="ltresult pcresult btnumber" style="background-image: url('../../images/number/lottery.png'); "
                          width="25" height="25">@row["item"]</span>
                    </td>
    <td width="6%" class="lossrate">@row["odds"]</td>
    <td width="6%"><span id="span_@num"></span></td>

    <td width="6%">
        @if (gytype.Contains(btitem))
        {
            if (bettinfo.Exists(x => x.Contains(num)))
            {
                string item = bettinfo.Find(x => x.Contains(num));
                string[] btinfo = item.Split(':');
                int win = (int)(int.Parse(btinfo[1]) * decimal.Parse(row["odds"].ToString()));
                @win.ToString("n0");
            }
            else
            {
                @:-
                            }

        }
        else
        {
            @:-
                }
    </td>
            }
        </tr>
    }
    @{
        DataRowCollection gyhdx = ds.Tables[1].Rows;
    }
    <tr align="center" bgcolor="#FFFFFF" height="27">
        @for (int i = 0; i < 4; i++)
        {
            string num = gyhdx[i]["setid"].ToString();
            DataRow row = gyhdx[i];
            string btitem = row["item"].ToString();
            int numresult = 0;
            if (int.TryParse(btitem, out numresult))
            {
                btitem = numresult.ToString().PadLeft(2, '0');
            }
            <td width="6%">
                <span class="ltresult pcresult btnumber" style="background-image: url('../../images/number/lottery.png'); "
                      width="25" height="25">@row["item"]</span>
                </td>
    <td width="6%" class="lossrate" data-type=@row["item"]>@row["odds"]</td>
    <td width="6%"><span id="span_@num"></span></td>
    <td width="6%">
        @if (gytype.Contains(btitem))
        {
            if (bettinfo.Exists(x => x.Contains(num)))
            {
                string item = bettinfo.Find(x => x.Contains(num));
                string[] btinfo = item.Split(':');
                int win = (int)(int.Parse(btinfo[1]) * decimal.Parse(row["odds"].ToString()));
                @win.ToString("n0");
            }
            else
            {
                @:-
                    }

        }
        else
        {
            @:-
                    }
    </td>
        }
    </tr>
</table>


<table style="width:960px;color: Black;border-collapse:collapse;border:1px solid #cacaca;border-top:none;border-left:none;"
       border="0" cellpadding="0" cellspacing="1" class="tb_btmode tb_ch content_middle">

    <tr><th colspan="4">第一名</th><th colspan="4">第二名</th><th colspan="4">第三名</th><th colspan="4">第四名</th><th colspan="4">第五名</th></tr>
    @{
        DataTable dtch = ds.Tables[2];
        string[] chtype = resulttype[0].Replace("车号:", "").Split('|');
    }
    @for (int i = 1; i <= 14; i++)
    {
        <tr align="center" bgcolor="#FFFFFF" height="27">
            @for (int j = 1; j <= 5; j++)
            {
                DataRow dttype = dtch.Select("pitem='" + j.ToString() + "'")[i - 1];
                string num = dttype["setid"].ToString();
                string btitem = dttype["item"].ToString();
                int numresult = 0;
                if (int.TryParse(btitem, out numresult))
                {
                    btitem = numresult.ToString().PadLeft(2, '0');
                }
                <td width="4%">

                    <span class="ltresult pcresult btnumber" style="background-image: url('../../images/number/lottery.png'); "
                          width="25" height="25">@dttype["item"]</span>

                    </td>
    <td width="5%" class="lossrate" data-type=@dttype["item"]>@dttype["odds"]</td>
    <td width="5%"><span id="span_@num"></span></td>

    <td width="5%">
        @if (("," + chtype[j - 1] + ",").Contains(btitem))
        {
            if (bettinfo.Exists(x => x.Contains(num)))
            {
                string item = bettinfo.Find(x => x.Contains(num));
                string[] btinfo = item.Split(':');
                int win = (int)(int.Parse(btinfo[1]) * decimal.Parse(dttype["odds"].ToString()));
                @win.ToString("n0");
            }
            else
            {
                @:-
                    }

        }
        else
        {
            @:-
                    }
    </td>

            }
        </tr>
    }
</table>

<table style="width:960px;color: Black;border-collapse:collapse;border:1px solid #cacaca;border-top:none;border-left:none;"
       border="0" cellpadding="0" cellspacing="1" class="tb_btmode tb_ch content_middle">

    <tr><th colspan="4">第六名</th><th colspan="4">第七名</th><th colspan="4">第八名</th><th colspan="4">第九名</th><th colspan="4">第十名</th></tr>

    @for (int i = 1; i <= 14; i++)
    {
        <tr align="center" bgcolor="#FFFFFF" height="27">
            @for (int j = 6; j <= 10; j++)
            {
                DataRow dttype = dtch.Select("pitem='" + j.ToString() + "'")[i - 1];
                string num = dttype["setid"].ToString();
                string btitem = dttype["item"].ToString();
                int numresult = 0;
                if (int.TryParse(btitem, out numresult))
                {
                    btitem = numresult.ToString().PadLeft(2, '0');
                }
                <td width="4%">

                    <span class="ltresult pcresult btnumber" style="background-image: url('../../images/number/lottery.png'); "
                          width="25" height="25">@dttype["item"]</span>

                    </td>
    <td width="5%" class="lossrate" data-type=@dttype["item"]>@dttype["odds"]</td>
    <td width="5%"><span id="span_@num"></span></td>

    <td width="5%">
        @if (("," + chtype[j - 1] + ",").Contains(btitem))
        {
            if (bettinfo.Exists(x => x.Contains(num)))
            {
                string item = bettinfo.Find(x => x.Contains(num));
                string[] btinfo = item.Split(':');
                int win = (int)(int.Parse(btinfo[1]) * decimal.Parse(dttype["odds"].ToString()));
                @win.ToString("n0");
            }
            else
            {
                @:-
                    }

        }
        else
        {
            @:-
                    }
    </td>

            }
        </tr>
    }
</table>


<table style="width:960px;color: Black;border-collapse:collapse;border:1px solid #cacaca;border-top:none;border-left:none;"
       border="0" cellpadding="0" cellspacing="1" class="tb_lh content_middle">
    <tr><th colspan="4">1V10</th><th colspan="4">2V9</th><th colspan="4">3V8</th><th colspan="4">4V7</th><th colspan="4">5V6</th></tr>
    @{
        dtch = ds.Tables[3];
        string lhtype = resulttype[2];
    }

    @for (int i = 1; i <= 2; i++)
    {
        <tr align="center" bgcolor="#FFFFFF" height="27">
            @for (int j = 1; j <= 5; j++)
            {
                DataRow dttype = dtch.Select("pitem like '%" + j.ToString() + "%'")[i - 1];
                string num = dttype["setid"].ToString();
                string btitem = dttype["item"].ToString();
                int numresult = 0;
                if (int.TryParse(btitem, out numresult))
                {
                    btitem = numresult.ToString().PadLeft(2, '0');
                }
                <td width="4%">

                    <span class="ltresult pcresult btnumber" style="width:35px;height:35px;background-image: url('../../images/number/@(btitem=="龙"?"long":"hu").png'); "
                          width="25" height="25"></span>

                    </td>
    <td width="5%" class="lossrate" data-type=@dttype["item"]>@dttype["odds"]</td>
    <td width="5%"><span id="span_@num"></span></td>

    <td width="5%">
        @if (("," + chtype[j - 1] + ",").Contains(btitem))
        {
            if (bettinfo.Exists(x => x.Contains(num)))
            {
                string item = bettinfo.Find(x => x.Contains(num));
                string[] btinfo = item.Split(':');
                int win = (int)(int.Parse(btinfo[1]) * decimal.Parse(dttype["odds"].ToString()));
                @win.ToString("n0");
            }
            else
            {
                @:-
                    }

        }
        else
        {
            @:-
                    }
    </td>

            }
        </tr>
    }
</table>

