@{
    ViewBag.Title = "_content";
}
@model LotteryModel
<script src="~/components/pager/jquery.page.js"></script>
<link href="~/components/pager/page.css" rel="stylesheet" />

<table class="con_table" id="play" cellpadding="0" cellspacing="1" align="center"
       style="color: Black; margin-bottom: 4px;margin-top:5px; border-top:2px solid #e4393c;" bgcolor="#CACACA">
    <tr id="trhead">
        <td width="13%" style="height: 28px;">期号</td>
        <td width="13%" style="height: 28px">开奖时间</td>
        <td width="17%" style="height: 28px">开奖结果</td>
        <td width="15%" style="height: 28px">乐豆总数</td>
        <td width="12%" style="height: 28px">中奖人数</td>
        <td width="15%" style="height: 28px">投注额/中奖额</td>
        <td width="13%" style="height: 28px">投注</td>
    </tr>
    @foreach(OWZX.Model.MD_LotteryUser lot in @Model.lotterylist.LotteryList)
    {
    <tr>
        <td>@lot.Expect</td>
        <td>@lot.Opentime.ToString("MM-dd HH:mm:ss")</td>
        <td>
            @if (@lot.Status != 2)
            {
           
            }
            else
            {
                <text><i>@lot.First</i>+<i>@lot.Second</i>+<i>@lot.Three</i>=</text>
                if (@Model.LotteryType == 1 || @Model.LotteryType == 2 || @Model.LotteryType == 6)
                {
                    string resnum  = int.Parse(@lot.Resultnum).ToString("d2");
                    <span class="ltresult pcresult">
                        @resnum
                    </span>
                }
                else if (@Model.LotteryType == 4 || @Model.LotteryType == 5)
                {
                    string type = @lot.Resultnum;
                    string cltype = type == "豹" ? "z1" : (type == "顺" ? "z3" : (type == "对" ? "z2" : (type == "半" ? "z4" : "z5")));
                    <span class="ltresult sdz @cltype"></span>
                }
            }
        </td>
        <td>@{string rt = string.Format("{0:n0}",@lot.TotalBett);} @rt</td>
        <td>@lot.WinPerson/@lot.BettPerson</td>
        <td>@{string bt = string.Format("{0:n0}", @lot.LuckResult); string lk = string.Format("{0:n0}", @lot.Money);} @bt/@lk</td>
        <td style="width:30px;">
            @if (lot.Status == 0)
            {
                <div class="lot_btn_@lot.Expect"><a href="javascript:loadpage('bett',@lot.Expect)"><div class="ltoperate">竞  猜</div></a></div>
            }
            else if (lot.Status == 1)
            {
                <div class="lot_btn_@lot.Expect"><a href="#"><div class="ltoperate">正在开奖</div></a></div>
            }
            else if (lot.Status == 2)
            {
                <div class="lot_btn_@lot.Expect"><a href="#"><div class="ltclose">- 已开奖 -</div></a></div>
            }
        </td>
    </tr>
    }
    <tr align="center" bgcolor="#FFFFFF" id="pagetr">
        <td height="28" colspan="7" bgcolor="#FFFFFF">
           
            <div class="tcdPageCode">
                
            </div>
        </td>
    </tr>
</table>
<script>
    function ajax_page(page)
    {

    }
    $(function ()
    {
        $(".tcdPageCode").createPage({
            pageCount: @Model.PageModel.TotalPages> 20 ? 20 : @Model.PageModel.TotalPages,
            current: @Model.PageModel.PageNumber,
            backFn: function (p)
            {
                $(".temp_content").load("/nwlottery/_content",{"type":lotterytype,"page":p});
            }
        });
    });
</script>

