@{
    ViewBag.Title = "_contentpk";
}

@model LotteryModel
<script src="~/components/pager/jquery.page.js"></script>
<link href="~/components/pager/page.css" rel="stylesheet" />

<table class="con_table" id="play" cellpadding="0" cellspacing="1" align="center"
       style="color: Black; margin-bottom: 4px;margin-top:5px; border-top:2px solid #e4393c;" bgcolor="#CACACA">
    <tr id="trhead">
        <td width="9%" style="height: 28px;">期号</td>
        <td width="9%" style="height: 28px">开奖时间</td>
        <td width="31%" style="height: 28px">开奖结果</td>
        <td width="13%" style="height: 28px">金币总数</td>
        <td width="10%" style="height: 28px">中奖人数</td>
        <td width="12%" style="height: 28px">中奖额/投注额</td>
        <td width="13%" style="height: 28px">投注</td>
    </tr>
    @foreach (OWZX.Model.MD_LotteryUser lot in @Model.lotterylist.LotteryList)
    {
        <tr>
            <td>@lot.Expect</td>
            <td>@lot.Opentime.ToString("MM-dd HH:mm")</td>
            <td valign="middle" style="padding-left:5px;">
                @if (@lot.Status != 2)
                {

                }
                else
                {
                    string[] opencodes = @lot.Orderresult.Split(',');
                    string clfir = "regular" + opencodes[0];
                    <em class="@clfir"></em>
                    string clsec = (@lot.Type == 8 ? "regular" + opencodes[1] : "light" + opencodes[1]);
                    <em class="@clsec"></em>
                    for (int i = 2; i <= opencodes.Length - 1; i++)
                    {
                        clsec = "light" + opencodes[i];
                        <em class="@clsec"></em>
                    }
                    if (@lot.Type == 8)
                    {
                        <em class="final"><i>@lot.Resultnum</i></em>
                    }
                }
            </td>
            <td>@{string rt = string.Format("{0:n0}", (@lot.TotalBett + @lot.FakeEggNum));} @rt</td>
            <td>@(lot.WinPerson+(lot.Status==2?lot.FakeWinNum:0))/@(lot.BettPerson+lot.FakeUsersCount)</td> 
            <td>@{string bt = string.Format("{0:n0}", @lot.LuckResult); string lk = string.Format("{0:n0}", @lot.Money);} @(lk!="0"?"<a style=\"color: #FD6400;cursor:pointer;\" href=\"javascript:loadpage('bett',"+@lot.Expect+")\">":"")@bt/@lk @(lk!="0"?"</a>":"")</td>
            <td style="width:30px;">
                @if (lot.Status == 0)
                {
                    <div class="lot_btn_@lot.Expect"><a href="javascript:loadpage('bett',@lot.Expect)"><div class="ltoperate"> @(lot.Money>0?"追  加":"竞  猜")</div></a></div>
                }
                else if (lot.Status == 1)
                {
                    <div class="lot_btn_@lot.Expect"><a href="#"><div class="ltoperate">正在开奖</div></a></div>
                }
                else if (lot.Status == 2)
                {
                    <div class="lot_btn_@lot.Expect"><a href="#"><div class="ltclose">- 已开奖 -</div></a></div>
                }
            </td>
        </tr>
    }
    <tr align="center" bgcolor="#FFFFFF" id="pagetr">
        <td height="28" colspan="7" bgcolor="#FFFFFF">

            <div class="tcdPageCode">

            </div>
        </td>
    </tr>
</table>
<script>
    function ajax_page(page)
    {

    }
    $(function ()
    {
        $(".tcdPageCode").createPage({
            pageCount: @Model.PageModel.TotalPages> 20 ? 20 : @Model.PageModel.TotalPages,
            current: @Model.PageModel.PageNumber,
            backFn: function (p)
            {
                $(".temp_content").load("/nwlottery/_contentpk",{"type":lotterytype,"page":p});
            }
        });
    });
</script>
