@{
    ViewBag.Title = "_contentpklh";
}

@model LotteryModel
<script src="~/components/pager/jquery.page.js"></script>
<link href="~/components/pager/page.css" rel="stylesheet" />

<table class="con_table" id="play" cellpadding="0" cellspacing="1" align="center"
       style="color: Black; margin-bottom: 4px;margin-top:5px; border-top:2px solid #fd8724;" bgcolor="#fd8724">
    <tr id="trhead">
        <td rowspan="2" width="13%" style="height: 28px;">期号</td>
        <td rowspan="2" width="10%" style="height: 28px">开奖时间</td>
        <td rowspan="2" width="26%" style="height: 28px">开奖结果</td>
        @*<td colspan="5" width="27%" style="height: 28px">
        中奖</td>*@
        <td rowspan="2" colspan="3" width="12%" style="height: 28px">冠亚</td>
        <td colspan="5" width="14%">龙虎</td>
        <td rowspan="2" width="10%" style="height: 28px">中奖额/投注额</td>
        <td rowspan="2" width="13%" style="height: 28px">投注</td>
    </tr>
    <tr class="pklhtr">
        <td style="background:#E0E0E0;">1</td><td style="background:#E0E0E0;">2</td><td style="background:#E0E0E0;">3</td><td style="background:#E0E0E0;">4</td><td style="background:#E0E0E0;">5</td>
    </tr>
    @foreach (OWZX.Model.MD_LotteryUser lot in Model.lotterylist.LotteryList)
    {

        <tr>
            <td>@lot.Expect</td>
            <td>@lot.Opentime.ToString("MM-dd HH:mm")</td>
            <td>
               
                @if (@lot.Status != 2)
                {

                }
                else
                {
                    string[] opencodes = lot.Orderresult.Split(',');
                    string clsec = string.Empty;
                    for (int i = 0; i <= opencodes.Length - 1; i++)
                    {
                        clsec = "regular" + opencodes[i];
                        <em class="@clsec"></em>
                    }
                }
            </td>
            @if(lot.ResultType!=null &&lot.ResultType!=string.Empty)
            {
                string[] pklhresult = lot.ResultType.Split(';');
                string[] pkgy = pklhresult[1].Replace("冠亚:","").Split(',');
                string[] pklh = pklhresult[2].Replace("龙虎:", "").Split(',');
            <td style="color:#900;">@pkgy[0]</td>
            <td>
            @if (pkgy[1] == "大")
            {
            <span class="da">@pkgy[1]</span>
            }
            else if (pkgy[1] == "小")
            {
                <span class="xiao">@pkgy[1]</span>
            }</td><td>
            @if (pkgy[2] == "单")
            {
                <span class="dan">@pkgy[2]</span>
            }
            else if (pkgy[2] == "双")
            {
                <span class="shuang">@pkgy[2]</span>
            }
            </td>
            <td><span>@if (pklh[0] == "龙")
                    {
                        <span class="dan">@pklh[0]</span>
                    }
                    else if (@pklh[0] == "虎")
                    {
                        <span class="xiaodan">@pklh[0]</span>
                    }
                </span></td>
    <td>
        <span>
            @if (pklh[1] == "龙")
            {
                <span class="dan">@pklh[1]</span>
            }
            else if (@pklh[1] == "虎")
            {
                <span class="xiaodan">@pklh[1]</span>
            }
    </span>
</td>
    <td>
        <span>
            @if (pklh[2] == "龙")
            {
                <span class="dan">@pklh[2]</span>
            }
            else if (@pklh[2] == "虎")
            {
                <span class="xiaodan">@pklh[2]</span>
            }
        </span>
    </td>
    <td>
        <span>
            @if (pklh[3] == "龙")
            {
                <span class="dan">@pklh[3]</span>
            }
            else if (@pklh[3] == "虎")
            {
                <span class="xiaodan">@pklh[3]</span>
            }
        </span>
    </td>
    <td>
        <span>
            @if (pklh[4] == "龙")
            {
                <span class="dan">@pklh[4]</span>
            }
            else if (@pklh[4] == "虎")
            {
                <span class="xiaodan">@pklh[4]</span>
            }
        </span>
    </td>
            }else
            { 
              <td></td><td></td><td></td><td></td><td></td><td></td>
<td></td>
<td></td>
            }
                
            <td>@{string bt = string.Format("{0:n0}", @lot.LuckResult); string lk = string.Format("{0:n0}", @lot.Money);} @(lk!="0"?"<a style=\"color: #FD6400;cursor:pointer;\" href=\"javascript:loadpage('bett',"+@lot.Expect+")\">":"")@bt/@lk @(lk!="0"?"</a>":"")</td>
            <td style="width:30px;">
                @if (lot.Status == 0)
                {
                    <div class="lot_btn_@lot.Expect"><a href="javascript:loadpage('bett',@lot.Expect)"><div class="ltoperate"> @(lot.Money>0?"追  加":"竞  猜")</div></a></div>
                }
                else if (lot.Status == 1)
                {
                    <div class="lot_btn_@lot.Expect"><a href="#"><div class="ltoperate">正在开奖</div></a></div>
                }
                else if (lot.Status == 2)
                {
                    <div class="lot_btn_@lot.Expect"><a href="#"><div class="ltclose">- 已开奖 -</div></a></div>
                }
            </td>
        </tr>
    }
    <tr align="center" bgcolor="#FFFFFF" id="pagetr">
        <td height="28" colspan="13" bgcolor="#FFFFFF">

            <div class="tcdPageCode">

            </div>
        </td>
    </tr>
</table>
<script>
    function ajax_page(page)
    {

    }
    $(function ()
    {
        $(".tcdPageCode").createPage({
            pageCount: @Model.PageModel.TotalPages> 20 ? 20 : @Model.PageModel.TotalPages,
            current: @Model.PageModel.PageNumber,
            backFn: function (p)
            {
                $(".temp_content").load("/nwlottery/_contentpklh",{"type":lotterytype,"page":p});
            }
        });
    });
</script>
