@model LotteryModel

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>游戏乐园-@{@WorkContext.ShopConfig.SiteTitle}</title>
    @Html.Raw(WorkContext.ShopConfig.SEOKeyword)
    @Html.Raw(WorkContext.ShopConfig.SEODescription)
    <link href="@{@WorkContext.CSSCDN}/css/base.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/css/lottery.css" rel="stylesheet" />
    <script src="@{@WorkContext.ScriptCDN}/scripts/jquery.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/common.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/lottery.js"></script>
    <link href="/components/layer/skin/layer.css" rel="stylesheet" />
    <script src="/components/layer/layer.js"></script>
    <script type="text/javascript">
        uid = @WorkContext.Uid;
        lotterytype=@Model.LotteryType;
        isbett=0;
        $(function () {
            $("#navItme li").removeClass("hot"); 
            $(".ltItme li div").removeClass("hot");
            $(".ltItme li").each(function(i, v) {
                if ($(v).data("type") == lotterytype) {
                    $(v).find("div").addClass("hot");
                }
            }); 
            $(".sec_head a").click(function () {
                if ($(this).index() > 3 && uid <= 0) {
                    layer.alert("<div style='text-align:center;'>请登录</div>", { title: "提示" });
                    return;
                }
                $(".sec_head a").removeClass("hot");
                $(this).addClass("hot");
            });
        });
    </script>
</head>
<body>
    @Html.Partial("_header")
    @Html.Partial("_ltheader")
    <div class="content">
        <div class="sec_head">
            <a href="javascript:loadpage('lottery')" target="_parent" class="hot">
                @Model.Title
            </a>
            <span class="wh12"> | </span>
            <a href="javascript:loadpage('rule')" target="_parent">游戏规则</a>
            <span class="wh12">|</span>
            <a href="javascript:loadpage('bettrecords')" target="_parent">投注记录</a>
            <span class="wh12">|</span>
            <a href="javascript:loadpage('models')" target="_parent">模式编辑</a>
            <span class="wh12">|</span>
            <a href="javascript:loadpage('autobett')" target="_parent">自动投注</a>
        </div>
        <div class="lot_content">

            <div class="dv">
                @if (@Model.lotterylist.Prev_Lottery.Expect == null)
                {
                    @:暂无历史开奖
                }
                else
                {
                    <div class="ltnumber">
                        <h4 style="padding-top:10px;">第 @Model.lotterylist.Prev_Lottery.Expect 期</h4>开奖结果
                    </div>
                    <div style="width:80%;display:block;float:left;line-height:35px;border-top:1px solid #ECECEC;border-bottom:1px solid #ECECEC;font-weight:600;">
                        <div style="padding-left:50px;">
                            @if (@Model.LotteryType == 1 || @Model.LotteryType == 4 || @Model.LotteryType == 9)
                                 {
                                <text>
                                    <span class="ltnum1">@Model.lotterylist.Prev_Lottery.Orderresult.Substring(0, 17)</span>&nbsp;&nbsp;&nbsp;
                                    <span class="ltnum2">@Model.lotterylist.Prev_Lottery.Orderresult.Substring(18, 17)</span>&nbsp;&nbsp;&nbsp;
                                    <span class="ltnum3">@Model.lotterylist.Prev_Lottery.Orderresult.Substring(36, 17)</span>
                                </text>
                                 }
                            else if (@Model.LotteryType == 2 || @Model.LotteryType == 5 || @Model.LotteryType == 6)
                            {
                                string[] numbs = @Model.lotterylist.Prev_Lottery.Orderresult.Split(',');
                                <text>
                                    <span class="numberl n1">@numbs[0]</span><span class="numberl n3">@numbs[1]</span><span class="numberl n2">@numbs[2]</span>
                                    <span class="numberl n4">@numbs[3]</span><span class="numberl n3">@numbs[4]</span><span class="numberl n2">@numbs[5]</span>
                                    <span class="numberl n4">@numbs[6]</span><span class="numberl n3">@numbs[7]</span><span class="numberl n2">@numbs[8]</span>
                                    <span class="numberl n4">@numbs[9]</span><span class="numberl n3">@numbs[10]</span><span class="numberl n2">@numbs[11]</span>
                                    <span class="numberl n4">@numbs[12]</span><span class="numberl n3">@numbs[13]</span><span class="numberl n2">@numbs[14]</span>
                                    <span class="numberl n4">@numbs[15]</span><span class="numberl n3">@numbs[16]</span><span class="numberl n2">@numbs[17]</span>
                                    <span class="numberl n1">@numbs[18]</span><span class="numberl n1">@numbs[19]</span>
                                </text>
                            }
                            else if (@Model.LotteryType == 7 || @Model.LotteryType == 8)
                            {
                                string orderresult = @Model.lotterylist.Prev_Lottery.Orderresult;
                                <span class="numberl n2">@Model.lotterylist.Prev_Lottery.First</span>
                                <span class="numberl n3">@orderresult.Substring(3, @orderresult.Length - 3)</span>
                            }
                            @if (@Model.LotteryType == 1 || @Model.LotteryType == 4 || @Model.LotteryType == 9)
                            {
                                <a href="http://www.bwlc.net/bulletin/keno.html" target="_blank" style="color:#666;float:right;">[官方查询]</a>
                            }
                            else if (@Model.LotteryType == 2 || @Model.LotteryType == 5)
                            {
                                <a href="http://lotto.bclc.com/winning-numbers/keno-and-keno-bonus.html" target="_blank" style="color:#666;float:right;">[官方查询]</a>
                            }
                            else if (@Model.LotteryType == 7 || @Model.LotteryType == 8)
                            {
                                <a href="http://www.bwlc.net/bulletin/trax.html" target="_blank" style="color:#666;float:right;">[官方查询]</a>
                            }
                            else if (@Model.LotteryType == 6)
                            {
                                <a href="http://www.knlotto.kr/keno.aspx?method=kenoWinNoList" target="_blank" style="color:#666;float:right;">[官方查询]</a>
                            }
                        </div>
                        <div style="border-top:1px solid #ECECEC;padding-left:50px;">
                            @{
                            int first = int.Parse(@Model.lotterylist.Prev_Lottery.First);
                            int second = int.Parse(@Model.lotterylist.Prev_Lottery.Second);
                            }

                            <span style="font-size:15px;">一区号码: <span class="ltresult">@first</span></span>
                            <span style="margin-left:60px;font-size:15px;">二区号码: <span class="ltresult">@second</span></span>
                            @if (@Model.LotteryType != 7 && @Model.LotteryType != 8 && @Model.LotteryType != 11)
                            {
                                <span style="margin-left:60px;font-size:15px;">三区号码: <span class="ltresult">@Model.lotterylist.Prev_Lottery.Three</span> </span>
                            }

                            @if (@Model.LotteryType != 4 && @Model.LotteryType != 5)
                            {<span style="margin-left:60px;font-size:15px;">
                                结果:
                                <span class="ltresult pcresult">
                                    @{string resnum = int.Parse(@Model.lotterylist.Prev_Lottery.Resultnum).ToString("d2");}
                                    @resnum
                                </span>
                            </span>
                            }
                            else
                            {
                                string type = @Model.lotterylist.Prev_Lottery.Resultnum;
                                string cltype = type == "豹" ? "z1" : (type == "顺" ? "z3" : (type == "对" ? "z2" : (type == "半" ? "z4" : "z5")));
                                <span style="margin-left:60px;font-size:15px;">
                                    结果:<span class="ltresult pcresult">@type</span>
                                </span>
                                }
                        </div>
                    </div>
                }

            </div>
            <div class="dv">
                <div style="width:30%; display:block;float:left;" class="remains">
                    第 <i class="bold">@Model.lotterylist.LastNumber</i>期
                    @if (Model.lotterylist.RemainS > Model.StopTime && Model.lotterylist.RemainS <= Model.TotalS
                        )
                    {
                        int rems = @Model.lotterylist.RemainS - @Model.StopTime;
                        <text>还有<span class="ltwarn">@rems</span>秒停止下注!</text>
                    }
                    else if (@Model.lotterylist.RemainS > 0 && @Model.lotterylist.RemainS <= Model.StopTime)
                    {
                        <text>停止下注,还有<span class="ltwarn">@Model.lotterylist.RemainS</span>秒开奖!</text>
                    }
                    else if (@Model.lotterylist.RemainS > -60 && @Model.lotterylist.RemainS <= 0)
                    {
                        <text>正在开奖,请稍后!</text>
                    }
                </div>
                <script>
                    $(function(){
                        GetRTime(lotterytype,@(string.IsNullOrEmpty(Model.lotterylist.RemainS.ToString())?-40:Model.lotterylist.RemainS),@(string.IsNullOrEmpty(Model.lotterylist.LastNumber)?"0":Model.lotterylist.LastNumber) ,@Model.TotalS,@Model.StopTime,@Model.lotterylist.Prev_Lottery.Expect)
                    });
                </script>
                <div style="width:50%;display:block;float:left;">
                    今日盈亏: <span class="ltwarn">@Model.lotterylist.TdProf.ToString("N0")</span> 参与: <i class="bold">@Model.lotterylist.TdBettNum</i>期 胜率: <i class="bold">@Model.lotterylist.WinPercent%</i>
                </div>
                <div style="width: 20%; display: block; float: left; text-align: right;">投注无上限,中奖无上限
               @*     最高投注<span class="ltwarn">2,000</span>万豆,最高中奖 <span class="ltwarn">1,000,000</span>万豆*@
                </div>
            </div>
            <div class="temp_content">

                @if (@Model.LotteryType == 1 || @Model.LotteryType == 2 || @Model.LotteryType == 3
                     || @Model.LotteryType == 6 || @Model.LotteryType == 4 || @Model.LotteryType == 5 
                     || @Model.LotteryType == 11 || @Model.LotteryType == 12)
                {
                    @Html.Partial("_content")
                }
                else if (@Model.LotteryType == 9)
                {
                    @Html.Partial("_contentlhb")
                }
                else if (@Model.LotteryType == 7 || @Model.LotteryType == 8 || @Model.LotteryType == 10)
                {
                    @Html.Partial("_contentpk")
                }
                else if (@Model.LotteryType == 13)
                { 
                  @Html.Partial("_contentlhc");
                }

            </div>

        </div>
        <div class="clear"></div>
    </div> 
    @Html.Partial("_footer")
</body>
</html>