<script>
    $(function ()
    {


    });
</script>

<div id="headercontent" style="background: #FFF;color: #666;">
    <div id="headerBar" class="bigBox">
        <div class="box">
            <div class="headerLink">
                您好，
                @if (WorkContext.Uid < 1)
                {
                    @:欢迎来到发财28
                    <a href="@Url.Action("index", "home", new RouteValueDictionary {{"returnUrl", WorkContext.Url}})">登录</a>@:&nbsp;&nbsp;
                    <a href="@Url.Action("register", "account")" class="A_b">注册</a>@:&nbsp; &nbsp; 
                }
                else
                {
                    <a class="cblock" href="javascript:(void)">@(WorkContext.NickName+" ("+WorkContext.Uid+")")</a>@:&nbsp; &nbsp; 
                    <a class="cblock" href="@Url.Action("logout", "account")">[退出]</a>@:&nbsp; &nbsp; |
                    <a class="cblock" href="@Url.Action("userinfo", "ucenter")">我的帐户</a>@:&nbsp; &nbsp; 
                }
            </div>

        </div>
    </div>
    <div style="width: 100%;">
        <div id="imglogo">
            <img src="/images/baseimg/logo_dz.jpg" />
            <img src="~/images/baseimg/toutu.jpg" />
        </div>
    </div>
    <div id="navs">
        <ul id="navItme">
            <li><a href="/" class="index">首页</a></li>
            <li><a href="/">商务合作</a></li>
            <li><a href="/">活动专区</a></li>
            <li><a href="/">游戏乐园</a></li>
            <li><a href="/">兑换中心</a></li>
            <li><a href="@Url.Action("UserInfo", "ucenter")">用户中心</a></li> 
        </ul>
    </div>
<div  style="border-bottom: 2px solid white;"></div>
    <div class="clear"></div>
</div>