@model List<OWZX.Model.MD_OddsRoom>

@section header{
    <title>房间信息</title>
    <link type="text/css" rel="stylesheet" href="/administration/css/site.css" />
    <script type="text/javascript" src="/administration/scripts/jquery.js"></script>
    <script type="text/javascript" src="/administration/scripts/selectlist.js"></script>
}
@section body{
    <h1 class="rightH1">
        系统设置 &gt;&gt; 房间信息
   @*     <div class="right">
            <a href="@Url.Action("addoddsroom")" class="menuBT"><img src="/administration/images/add.jpg" />添加</a>
            <div class="clear"></div>
        </div>*@
        <div class="clear"></div>
    </h1>
    @using (Html.BeginForm())
    {
        <div class="dataList">
            <table width="100%">
                <thead>
                    <tr>
                        <th width="10"></th>
                        <th width="60" align="left">编号</th>
                        <th width="140" align="left">玩法类型</th>
                        @*<th width="180" align="left">房间类型</th>*@
                        <th width="140" align="left">最小投注总额</th>
                        <th width="140" align="left">最大投注总额</th>
                        <th width="140" align="left">赔率</th>
                        <th width="56" align="left">管理操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OWZX.Model.MD_OddsRoom info in Model)
                    {
                        <tr>
                            <td></td>
                            <td>@info.Id</td>
                            <td>@info.Type</td>
                            @*<td>@info.Room</td>*@
                            <td>@info.Minmoney</td>
                            <td>@info.Maxmoney</td>
                            <td>@info.OddsRate</td>
                            <td>
                                @Html.ActionLink("[编辑]", "editoddsroom", new { id = @info.Id }, new { @class = "editOperate" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
}
