<div id="footer" class="bigBox"  style="background:#353131; background-size: 100% 100%;padding-top: 40px">
  @*<div class="box">  url('/images/bg02.jpg') no-repeat

      @{
          int flag = 1;
          foreach (HelpInfo info in WorkContext.HelpList)
          {
              if (info.Pid != 0)
              {
                  if (info.Url.Length == 0)
                  {
              <a href="@Url.Action("question", "help", new RouteValueDictionary { { "id", info.Id } })">@info.Title</a>
                  }
                  else
                  {
              <a href="@info.Url">@info.Title</a>
                  }
              }
              else
              {
                  if (flag != 1)
                  {
                  @:</div>
              }
              @:<div class="footerBox"><h3>@info.Title</h3>
              flag++;
              }
          }
          if (WorkContext.HelpList.Count > 0)
          {
          @:</div>
      }
      }

    <div class="clear"></div>
    </div>*@
    <script>
    var browser = {
        versions: function () {
            var u = navigator.userAgent, app = navigator.appVersion;
            return {
                trident: u.indexOf('Trident') > -1, //IE内核
                presto: u.indexOf('Presto') > -1, //opera内核
                webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                mobile: !!u.match(/AppleWebKit.*Mobile.*/) || !!u.match(/AppleWebKit/), //是否为移动终端
                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
                iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQHD浏览器
                iPad: u.indexOf('iPad') > -1, //是否iPad
                webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
            };
        }(),
        language: (navigator.browserLanguage || navigator.language).toLowerCase()
    }
    $(function () {
        if (browser.versions.android || browser.versions.ios) {
            $("body").css("float", "left");
        } else {
            $("body").css("float", "");
        }
    })
   
    //document.writeln(" 是否为移动终端: " + browser.versions.mobile);
    //document.writeln(" ios终端: " + browser.versions.ios);
    //document.writeln(" android终端: " + browser.versions.android);
    //document.writeln(" 是否为iPhone: " + browser.versions.iPhone);
    //document.writeln(" 是否iPad: " + browser.versions.iPad);
    //document.writeln(navigator.userAgent);
    </script>


  <div class="bigBox footerB" >
    <div id="footerB">
      <div class="links">
        @for(int i = 0; i < WorkContext.FriendLinkList.Length;i++ )
        {
            FriendLinkInfo info = WorkContext.FriendLinkList[i] as FriendLinkInfo;
        <a href="@info.Url" target="@info.Target" title="@info.Title">@info.Name</a> 
            if(i!=WorkContext.FriendLinkList.Length-1){
                                                                                         @:|
          }
        }
      </div>
        <div style="width: 600px; margin: 0 auto;">
            <img style="float: left;" src="../../images/baseimg/db1.png"/>
            <ul style="width: 350px; float: left; text-align: center; margin-top: 7px;">
                <li style="color:#fff;">技术合作：白水非凡工作室</li>
                <li style="color:#fff;">© 2017 保留所有权利</li> 
            </ul><img style="float: left;" src="../../images/baseimg/db2.png"/>
            <div class="clear"></div>
        </div>
    </div>
  </div>
</div>
