<div id="footer" class="bigBox"  style="background: url('/images/bg02.jpg') no-repeat; background-size: 100% 100%;padding-top: 40px">
  @*<div class="box">

    @{
        int flag = 1;
        foreach (HelpInfo info in WorkContext.HelpList)
        {
            if (info.Pid != 0)
            {
                if (info.Url.Length == 0)
                {
            <a href="@Url.Action("question", "help", new RouteValueDictionary { { "id", info.Id } })">@info.Title</a>
                }
                else
                {
            <a href="@info.Url">@info.Title</a>
                }
            }
            else
            {
                if (flag != 1)
                {
                @:</div>
            }
            @:<div class="footerBox"><h3>@info.Title</h3>
            flag++;
            }
        }
        if (WorkContext.HelpList.Count > 0)
        {
        @:</div>
    }
    }

  <div class="clear"></div>
  </div>*@
  <div class="bigBox footerB" >
    <div id="footerB">
      <div class="links">
        @for(int i = 0; i < WorkContext.FriendLinkList.Length;i++ )
        {
            FriendLinkInfo info = WorkContext.FriendLinkList[i] as FriendLinkInfo;
        <a href="@info.Url" target="@info.Target" title="@info.Title">@info.Name</a> 
            if(i!=WorkContext.FriendLinkList.Length-1){
                                                                                         @:|
          }
        }
      </div>
        <div style="width: 600px; margin: 0 auto;">
            <img style="float: left;" src="../../images/baseimg/db1.png"/>
            <ul style="width: 350px; float: left; text-align: center; margin-top: 7px;">
                <li>技术合作：白水非凡工作室</li>
                <li>© 2017 保留所有权利</li> 
            </ul><img style="float: left;" src="../../images/baseimg/db2.png"/>
            <div class="clear"></div>
        </div>
    </div>
  </div>
</div>
