

<div id="headercontent" style="background: #FFF; color: #666;">
    <div id="headerBar" class="bigBox">
        <div class="box">
            <div class="headerLink">
                您好，
                @if (WorkContext.Uid < 1)
                {
                    @:欢迎来到发财28&nbsp;&nbsp;|
                    <a href="@Url.Action("login", "account", new RouteValueDictionary {{"returnUrl", WorkContext.Url}})">登录</a>@:&nbsp;&nbsp;|
                    <a href="@Url.Action("register", "account")" class="A_b">注册</a>@:&nbsp; &nbsp; 
                }
                else
                {

                    string lgname = (string.IsNullOrEmpty(WorkContext.NickName) ? WorkContext.UserEmail : WorkContext.NickName) + " (" + WorkContext.Uid + ")";
                    <a class="cblock" href="@Url.Action("userdefault", "ucenter")">@lgname</a>@:&nbsp; &nbsp; 
                    <a class="cblock" href="@Url.Action("logout", "account")">[退出]</a>@:&nbsp; &nbsp; | &nbsp; &nbsp;
                    <a class="cblock" href="@Url.Action("userdefault", "ucenter")">我的帐户</a>@:&nbsp; &nbsp; | &nbsp; &nbsp;
                    <span class="cblock" >元宝: <i class="usertotalmoney Fred bold">0</i><img style="margin-bottom: -2px; display: inline-block; width: 20px; height: 16px;" src="../../images/yuanbao.png"/> </span>@:&nbsp; &nbsp; | &nbsp; &nbsp;
                    <span class="cblock" >银行: <i class="banktotalmoney Fred bold">0</i><img style="margin-bottom: -2px; display: inline-block; width: 20px; height: 16px;" src="../../images/yuanbao.png"/></span>@:&nbsp; &nbsp; 
                }
            </div>

        </div>
    </div>
    <div style="width: 100%;">
        <div id="imglogo">
            <img src="/images/baseimg/logo_dz.jpg"/>
            <img src="~/images/baseimg/toutu.jpg"/>
        </div>
    </div>
    <div id="navs">
        <ul id="navItme">
            <li onclick="javascript: window.location.href = '/'"><a href="/" class="index">首页</a></li>
            <li onclick="javascript:window.location.href = '@Url.Action("list", "agent")'"><a href="javascript:void(0);">商务合作</a></li>
            <li onclick="javascript: window.location.href = '@Url.Action("list", "news")'"><a href="javascript:void(0);">活动专区</a></li>
            <li onclick="javascript: window.location.href = '/nwlottery/ltindex/3'"><a href="javascript:void(0);">游戏乐园</a></li>
            <li onclick="javascript: window.location.href = '@Url.Action("changelist", "changeware")'"><a href="javascript:void(0);">兑换中心</a></li>
            <li onclick="javascript: window.location.href = '@Url.Action("userdefault", "ucenter")'"><a href="javascript:void(0);">用户中心</a></li>
        </ul>
    </div>
    <div style="border-bottom: 2px solid white;"></div>
    <div class="clear"></div>
</div>
<div id="jquery_jplayer_1" style="display: none;"></div>
<script>
    var online = new Array();
    online[0] = 1;
    $(function() {
        if (@WorkContext.Uid > 0) {
            $.post('/ucenter/getusermoney', {}, function(data) {
                var result = eval("(" + data + ")");
                $('.usertotalmoney').html(transStr(result.content.totalmoney));
                $('.banktotalmoney').html(transStr(result.content.bankmoney));
            });
        } 
        $("#jquery_jplayer_1").jPlayer({ 
            swfPath: "/script",
            ready: function () { 
                $(this).jPlayer("setMedia", { 
                    mp3: "/images/security.mp3" 
                }); 
            }, 
            supplied: "mp3",
            wmode: "window"
        }); 
    });  
</script>
@*<script src="http://webpresence.qq.com/getonline?Type=1&2244929864:"></script>*@
<script type="text/javascript" src="@{@WorkContext.CSSCDN}/scripts/cookie.js"></script>
<script type="text/javascript" src="@{@WorkContext.CSSCDN}/scripts/jquery.jplayer.min.js"></script>
@{
   <link href="@{@WorkContext.CSSCDN}/css/kefu.css" rel="stylesheet" type="text/css" /> 
}
    <div id="box-kefu">
        <div class="kefu-close"></div>
        <div class="kefu-open">
            <div>
            <ul>
                <li><a href="http://wpa.qq.com/msgrd?v=3&uin=2244929864&site=qq&menu=yes" target="_blank"><i class="qq"></i>在线客服1</a></li> 
            </ul>
            </div>
            <a href="javascript:;" class="close">关闭</a>
        </div>
    </div> 

<script>
    (function($){
        for (var i=0; i<online.length; i++) {
            if (online[i]) jQuery("#box-kefu .qq").eq(i).addClass("online");
        }
        var _open = $("#box-kefu").find(".kefu-open"),
            _close = $("#box-kefu").find(".kefu-close");
        _open.find("a").hover(function(){
            $(this).stop(true,true).animate({paddingLeft:20},200).find("i").stop(true,true).animate({left:75},200);
        },function(){
            $(this).stop(true,true).animate({paddingLeft:35},200).find("i").stop(true,true).animate({left:10},200);
        });
    

        _open.find(".close").click(function(){
            _open.animate({width:148},200,function(){
                _open.animate({width:0},200,function(){
                    _close.animate({width:34},200);

                });
            });
        });
        _close.click(function(){
            _close.animate({width:44},200,function(){
                _close.animate({width:0},200,function(){
                    _open.animate({width:138},200);
                });
            });
        });
    })(jQuery)
</script>