@using System
@model OWZX.Web.Admin.Models.LotteryListModel

@section header{
    <title>下注列表</title>
    <link type="text/css" rel="stylesheet" href="/administration/css/site.css" />
    <script type="text/javascript" src="/administration/scripts/jquery.js"></script>
    <script type="text/javascript" src="/administration/scripts/showlist.js"></script>
}

@section body{
    <h1 class="rightH1">
        用户管理 &gt;&gt; 下注列表
        <div class="right">
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>
    @using (Html.BeginForm())
    {
        <div class="dataListSearch">
            <table height="32">
                <tbody>
                    <tr>
                        <td width="35"><img id="searchImg" src="/administration/images/search1.gif" /></td>
                        
                        <td style="">
                            账号：
                        </td>
                        <td width="130" style="">
                            @Html.TextBox("account", Model.account, new { height = "18" })
                        </td>
                        <td style="">
                            期号：
                        </td>
                        <td width="130" style="">
                            @Html.TextBox("expect", Model.expect, new { height = "18" })
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;彩票类型：
                        </td>
                        <td width="130">
                            <select data-val="true" id="lottype" name="lottype">
                                <option @if (-1 == Model.lottype)
                                        { <text> selected="selected" </text>          } value="-1">选择类型</option>
                                @foreach (OWZX.Model.BaseTypeModel info in AdminBaseInfo.GetBaseTypeList(" where parentid=47"))
                                {
                                    <option @if (info.Outtypeid == Model.lottype)
                                            { <text> selected="selected" </text>                  } value="@info.Outtypeid">@info.Type</option>
                                }
                            </select>

                        </td> 
                       
                        <td style="height:24px;">
                            <input id="SearchUser" name="SearchUser" type="image" class="searchBut submit" src="/administration/images/s.jpg" style="vertical-align: middle;" height="24" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="dataList">
            <table width="100%">
                <thead>
                    <tr>
                        <th width="10"></th>
                        <th width="60" align="left">编号</th>
                        <th width="80" align="left">账号</th>
                        <th width="80" align="left">彩票类型</th>
                        <th width="80" align="left">期号</th>
                       @* <th width="80" align="left">房间类型</th>
                        <th width="80" align="left">VIP</th>
                        <th width="80" align="left">投注类型</th>*@
                        <th width="80" align="left">投注项</th>
                        <th width="80" align="left">投注金额</th>
                        <th width="80" align="left">是否结算</th>
                        <th width="80" align="left">中奖金额</th>
                        <th width="80" align="left">盈亏</th>
                        <th width="80" align="left">时间</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OWZX.Model.MD_Bett info in Model.bettList)
                    {
                        <tr>
                            <td></td>
                            <td>@info.id</td>
                            <td>@info.Account</td>
                            <td>@info.Lottery</td>
                            <td>@info.Lotterynum</td>
                            @*<td>@info.Room</td><td>@info.Vip</td><td>@info.Bttype</td>*@
                            <td>@info.Item</td>
                            <td>@info.Money.ToString("N0")</td>
                            <td>@(info.IsRead ? "是" : "否")</td>
                            <td>@info.LuckResult.ToString("N0")</td>
                             <td>@((Convert.ToInt64(info.LuckResult)-info.Money).ToString("N0"))</td>
                            <td>@info.Addtime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="dataListEdit">
            <div class="page">
                @Html.AdminPager(Model.PageModel)
            </div>
        </div>
    }
}